table.data {
  border-collapse: collapse;
  min-width: 25rem;
  margin: 1rem 0;
}

  table.data tbody tr:nth-child(odd) > td {
    background: #f9f9f9;
  }

  table.data th,
  table.data td {
    text-align: left;
    padding: .25rem .5rem;
  }

  table.data td.name,
  table.data th.name,
  table.data td.visits,
  table.data th.visits {
    text-align: right;
  }

  table.data th.visits {
    min-width: 4em;
  }

table.data td.chart {
  position: relative;
  min-width: 10rem;
}

  table.data td.chart .bar {
    line-height: 1em;
    height: 1em;
    position: relative;
  }

  table.data td.chart .bar .value {
    font-size: 75%;
    position: absolute;
    left: 100%;
    margin-left: .25em;
  }

.stack {
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
  height: 2.5rem;
  position: relative;
}

  .stack .bin {
    float: left;
    top: 1rem;
    position: relative;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    border: 2px solid white;
  }

  .stack .bin:first-child { border-left: none; }
  .stack .bin:last-child { border-right: none; }

  .stack .bin .label {
    position: absolute;
    bottom: 100%;
  }

  .stack .bin .value {
    position: absolute;
    top: 100%;
  }

  .stack .bin:last-child .label,
  .stack .bin:last-child .value {
    right: 0;
  }
