@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #f9f9f9;
  margin: 0; }
  @media screen and (max-width: 992px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; } }

h2 {
  font-size: 4em; }

h3 {
  font-size: 1.2em;
  margin: 1em 0; }

h4 {
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 400; }

h5 {
  font-size: 0.8em;
  font-weight: 400; }

header {
  background: #36435A;
  color: white; }
  header .header_container {
    max-width: 97.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em; }
    header .header_container::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 1600px) {
      header .header_container {
        max-width: 1560px; } }
    @media screen and (max-width: 1200px) {
      header .header_container {
        max-width: 1170px; } }
    @media screen and (max-width: 992px) {
      header .header_container {
        max-width: 970px; } }
    @media screen and (max-width: 768px) {
      header .header_container {
        max-width: 750px; } }
  header #color_bar {
    background: #3A96B7;
    height: 6px; }
  header h1 {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    font-weight: 600; }
    header h1:last-child {
      margin-right: 0; }
    header h1 a {
      font-weight: 300;
      color: white;
      text-decoration: none; }
    header h1 a:hover {
      text-decoration: underline; }
    @media screen and (max-width: 768px) {
      header h1 {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        header h1:last-child {
          margin-right: 0; } }
  header #datetime {
    font-size: 1em;
    font-weight: 300;
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    padding-top: 2em;
    text-align: right;
    border: none; }
    header #datetime:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      header #datetime {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%;
        text-align: left;
        padding-top: 0; }
        header #datetime:last-child {
          margin-right: 0; } }

section {
  background: #fff;
  padding: 1em; }
  section h2 {
    font-size: 8em;
    margin: 0; }
  section h3 {
    margin: 10px 0; }

.container {
  max-width: 97.5em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1600px) {
    .container {
      max-width: 1560px; } }
  @media screen and (max-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 970px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 750px; } }

#main_data {
  float: left;
  display: block;
  margin-right: 0%;
  width: 64.28571%; }
  #main_data:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #main_data {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      #main_data:last-child {
        margin-right: 0; } }

#secondary_data {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  display: block;
  margin-right: 0%;
  width: 35.71429%; }
  #secondary_data:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #secondary_data {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      border-top: 1px solid #ccc;
      border-left: none;
      border-right: none; }
      #secondary_data:last-child {
        margin-right: 0; } }
  #secondary_data h3 {
    margin-bottom: 0; }
  #secondary_data h5 {
    margin-top: 0; }

.section_headline {
  padding: 0.1em 1em;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc; }
  @media screen and (max-width: 768px) {
    .section_headline {
      border-bottom: none; } }

.section_subheadline {
  padding: 0.5em 1em;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 1.5em; }
  .section_subheadline #total_visitors {
    font-weight: 600; }

.three_column {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .three_column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .three_column {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      border-left: none;
      border-top: 1px solid #ccc; }
      .three_column:last-child {
        margin-right: 0; } }
  .three_column h4 {
    text-align: center;
    margin: 0; }
  .three_column h5 {
    margin-top: 0;
    text-align: center; }

#time_series {
  border-left: 1px solid #ccc;
  text-align: center; }
  #time_series .chart_subtitle {
    font-size: 3em;
    font-weight: 300; }

#big_number {
  font-weight: 600;
  text-align: center; }

figure {
  margin: 0; }

ul.pills::after {
  clear: both;
  content: "";
  display: table; }
ul.pills, ul.pills > li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block; }
ul.pills {
  margin: .5rem 0; }
ul.pills > li {
  float: left; }
  ul.pills > li > a {
    color: #36435A;
    background: #f9f9f9;
    font-weight: bold;
    display: inline-block;
    padding: .5em 1em;
    text-decoration: none;
    border-right: 1px solid #fff; }
    ul.pills > li > a:hover {
      text-decoration: underline; }
    ul.pills > li > a[aria-selected='true'] {
      color: #fff;
      background: #36435A; }
  ul.pills > li:first-child > a {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  ul.pills > li:last-child > a {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: none; }

.bar-chart {
  margin: 1rem 0;
  position: relative;
  font-size: 80%; }
  .bar-chart .bin {
    position: relative;
    margin: 0 0 1rem 0; }
    .bar-chart .bin::after {
      clear: both;
      content: "";
      display: table; }
    .bar-chart .bin:after {
      content: " ";
      display: block;
      background: #f9f9f9;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .5rem;
      z-index: 1; }
  .bar-chart .bar {
    height: .5rem;
    background: #3A96B7;
    position: relative;
    z-index: 2; }
  .bar-chart .label {
    white-space: nowrap;
    height: 1.5rem; }
  .bar-chart .value {
    text-align: right;
    height: 1rem;
    white-space: nowrap;
    margin-top: -1.5rem;
    margin-bottom: .25rem; }

table.data {
  border-collapse: collapse;
  margin: 1rem 0; }
  table.data th,
  table.data td {
    text-align: left;
    padding: .25rem .5rem; }
  table.data tbody tr:nth-child(odd) > td {
    background: #f9f9f9; }
  table.data td.name,
  table.data th.name,
  table.data td.visits,
  table.data th.visits {
    text-align: right; }
  table.data th.visits {
    min-width: 4em; }
  table.data td.chart {
    position: relative;
    min-width: 10rem; }
    table.data td.chart .bar {
      line-height: 1em;
      height: 1em;
      position: relative;
      background: #3A96B7; }
      table.data td.chart .bar .value {
        font-size: 75%;
        position: absolute;
        left: 100%;
        margin-left: .25em; }

.stack {
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
  height: 2.5rem;
  position: relative; }
  .stack .bin {
    float: left;
    top: 1rem;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    border: 2px solid white;
    background-color: #3A96B7; }
    .stack .bin:first-child {
      border-left: none; }
    .stack .bin:last-child {
      border-right: none; }
    .stack .bin .label {
      position: absolute;
      bottom: 100%; }
    .stack .bin .value {
      position: absolute;
      top: 100%; }
    .stack .bin:last-child .label, .stack .bin:last-child .value {
      right: 0; }
