---
# Jekyll needs the front matter to render this in Sass
---
@import "bourbon/bourbon";

//Grid Settings:
$grid-columns: 12;
$max-width: em(1560);
$gutter: 0em !global;

@import "neat/neat";


@mixin responsive_container {
  @include outer-container;

  @include media($xlarge-screen) {
    max-width: 1600px;
  }
  @include media($large-screen)  {
    max-width: 1200px;
  }
  @include media($medium-screen) {
    max-width:  992px;
  }
  @include media($small-screen)  {
    max-width:  768px;
  }
}

$xxlarge-screen: new-breakpoint(max-width  4000px  14);
$xlarge-screen: new-breakpoint(max-width  1600px  14);
$large-screen:  new-breakpoint(max-width  1200px  14);
$medium-screen: new-breakpoint(max-width  992px   14);
$small-screen:  new-breakpoint(max-width  768px   1);
$mobile-small-screen:  new-breakpoint(max-width  500px   1);

// Fonts & Colors:

$red: #981b1e;
$light-blue: #0071bc;
$dark-blue: #112e51;
$light-gray: #f9f9f9;
$gray: #e4e4e4; // used only for borders
$dark-gray: #323a45;//#222;
$white: #fff;

$background-color: $light-gray;
$container-background: $white;
$data: $light-blue;

$border-width: 1px;
$border-radius: 5px;

$bold-weight: 600;

$font-sans:           "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$lead-font-size:      rem(20px);
$title-font-size:     rem(59px);
$h1-font-size:        rem(44px);
$h2-font-size:        rem(34px);
$h3-font-size:        rem(24px);
$h4-font-size:        rem(19px);
$h5-font-size:        rem(16px);

$font-light:          300;

h1, h2, h3, h4, h5 {
  font-family: $font-sans;
}

.usa-display-alt {
  font-size: rem(44px);
  font-weight: $font-light;
}

// Grid
.width-two-thirds {
  @include span-columns(8);
  @include media($small-screen) {
    @include span-columns(1);
  }
}

.width-one-third {
  @include span-columns(4);
  @include media($small-screen)  {
    @include span-columns(1);
  }
}

// Other Setup:
body {
  font-weight: 300;
  font-size: 2rem; // USWDS override
  color: $dark-gray;
  background: $background-color;
  margin: 0;
  @include media($small-screen) {
  }
}

a,
a:visited {
  color: $dark-blue;
}

.technical-difficulties {
  color:$red;
  background:#fff;
  padding-top:1.25em;
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after { clear: both; }

ul li:after,
ul li:before {
    content: "";
    display: none;
    padding-right: 0;
}

@include media($small-screen) {
  .sm-hide { display: none !important; }
}


/*
* top navigation bar
*/

header {
  background: $dark-blue;
  color: $white;
  border-bottom: 6px solid $light-blue;

  .inner {
    padding: 2.5rem;
    @include responsive_container;
    @include media($mobile-small-screen) {
      padding: 1.5rem;
    }
  }

  h1 {
    float: left;
    margin: 0 24px 0 0;
    line-height: 5rem;
    @include media($medium-screen) {
      line-height: 5.5rem;
    }
    @include media($mobile-small-screen) {
      font-size: 2.8rem;
      line-height: 4rem
    }
  }

  a {
    color: $white;
    font-weight: 300;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: $white;
  }
  a:visited {
    color: $white;
  }
  //hide label needed for accessibility
  label {
    position: absolute;
    left: -999em;
  }
  //override draft web design standards for header hack
  form {
      max-width: none;
  }
}

.links {
  float: right;
  margin-bottom: 0;
    @include media($medium-screen) {
      li {
        display: inline;
        padding: 0 0.8rem;
        &:first-child {
          border-right: 3px solid $light-blue;
        }
      }
      a {
        line-height: 5.5rem;
      }
    }
   @include media($mobile-small-screen) {
     a {
        line-height: 4rem;
      }
    }
}

.agency-selector-wrap {
  width: 50%;
  float: left;
  @include media($medium-screen) {
    width:  80%;
    float: none;
    clear: both;
  }
  @include media($small-screen)  {
    width:  100%;
  }
}

#agency-selector {
  width: 100%;
  max-width: none; // USWDS override
  color: $white;
  background-color: $dark-blue;
  font-size: 22px;
  font-weight: 600;
  vertical-align: middle;
  border: 1px solid $white;

  @include media($medium-screen) {
    font-size: 16px;
  }
}

/*
* end top navigation bar
*/


section {
  background: $white;
  padding: 1em;
    #current_visitors {
    font-size: 8em;
    margin: 0;
    @include media($small-screen) {
      font-size: 6em;
    }
  }
  h3 {
    margin: 10px 0;
  }
}

#realtime {
  color: $dark-blue;
  @include media($small-screen)  {
    font-size: 12px;
  }
}

.container {
  @include responsive_container;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
  background: $white;
}

#main_data {
  @include media($small-screen)  {
    border-right: none;
  }
}

.visits_today {
  h3 {
    display: block;
    height: 2.5rem;
    margin-bottom: 0;
  }
  h4 {
    display: block;
    text-align: right;
    margin-top: -2.5rem;
    font-size: 1.0em;
    color: $dark-gray;
  }
}

#secondary_data {
  border-left: 1px solid $gray;
  @include media($small-screen)  {
    border-top: 1px solid $gray;
    border-left: none;
    border-right: none;
  }

}

#explanation,
#data_download {
  h4 {font-size: 90%}

  ul {
    font-size: 80%;
    padding: 0;
  }

  ul, li {
    list-style-type: none;
    list-style-position: inside;
  }

  li {
    margin: 1em 0;
  }
}

// data page
.subset::before {
  content: "\2022";
  padding-left: 3rem;
  padding-right: 0.8rem;
}
// end data page

.section_headline {
  padding: 0.1em 1em;
  border-top: 1px solid $gray;
  @include media($small-screen)  {
    border-bottom: none;
  }
}

.section_subheadline {
  padding: 0.5em 1em;
  border-top: 1px solid $gray;
  text-align: center;
  font-size: 1.5em;
  #total_visitors {
    font-weight: $bold-weight;
  }
}

.three_column {
  @include span-columns(3 of 9);

  @include media($small-screen)  {
    @include span-columns(1);
    border-left: none;
    border-top: 1px solid $gray;
  }
  h4 {
    text-align: center;
    margin: 0;
    font-size: 90%;
  }
  h5 {
    margin-top: 0;
    text-align: center;
  }
}



#realtime {
  text-align: center;
  padding-top: 0em;
  padding-bottom: 2em;
  .chart_subtitle {
    font-size: 2.1em;
    font-weight: 300;
  }
}

#coming_soon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: $dark-blue;
  color: white;
  vertical-align: middle;
  padding: 10em;

  a {
    color: white;
  }

  h1 {
    font-size: 4em;
  }

  h1, h2 {
    text-align: center;
    font-weight: 300;
  }
  h2 {
    font-size: 2em;
    margin: 2em auto;
  }

  @include media($small-screen) {
    font-size: 12px;
    padding: 2em;
  }
}

.bar:focus{
  outline: 0;
}

#time_series {
  padding: 0 1em;
}

#time_series svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  max-height: 300px;
}

#current_visitors {
  font-weight: $bold-weight;
  text-align: center;
}

#top_downloads_table {
  h5 {
    margin-top: 10px;
  }
}

#top_100_table, #top_downloads_table {
  h3 {
    font-size: 1.0em;
  }
  h5 {
    color: $dark-gray;
    font-weight: 300;
  }
}

.top-pages {
  .bar-chart {
    margin-top: 0;
  }
}

figure {
  margin: 0;
}

ul.pills {
  @include clearfix;
  @include span-columns(3 of 5);
  display: inline-block;

  border-right: 1px solid $gray;
  border-left: 1px solid $gray;

  li {
    width: 33.3333%;
  }

  &, & > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  & {
     margin: .60rem 0 1.5rem 0;
  }

  & > li {
    float: left;

    & > a {
      color: $dark-blue;
      background: $white;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-size: 0.8em;
      display: inline-block;
      padding: .32em 0em;
      text-decoration: none;

      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;

      &:hover {
        text-decoration: underline;
      }

      &[aria-selected='true'] {
        color: #fff;
        background: $light-blue;
      }
    }

    &:last-child > a {
      border-right: none;
    }
  }
}

.bar-chart {
  margin: 1rem 0;
  position: relative;
  font-size: 90%;

  .bar-chart {
    font-size: 80%;

    .bin {
      margin-left: 2em;
      margin-bottom: 0rem;

      .bar {
        display: none;
      }
    }
  }

  .bin {
    position: relative;
    @include clearfix;
    overflow: hidden;
    margin: 0 0 1rem 0;

    .bar:after {
      content: " ";
      display: block;
      position: absolute;
      background: #f9f9f9;
      top: 0;
      left: 100%;
      width: 1000px;
      height: 100%;
      z-index: 1;
    }
  }

  .bar {
    height: .8rem;
    background: $data;
    position: relative;
    z-index: 2;
    min-width: 1px;

    @include transition(width .5s linear);
  }

  .label {
    white-space: nowrap;
    height: 2.2rem;
    margin-right: 4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .value {
    text-align: right;
    height: 2rem;
    white-space: nowrap;
    margin-top: -2.2rem;
    margin-bottom: .45rem;
  }
}

#top-downloads .bar-chart .label {
  height: auto;
  line-height: 1.6;

  .name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .domain {
    color: $dark-gray;
  }
}

g.axis {
  path,
  line {
    fill: none;
    stroke: none; // #ccc;
  }

  .tick text {
    fill: $dark-gray;
    font-size: .75rem;
  }
}

.time-series {
  rect {
    fill: $data;
    stroke: #fff;
    stroke-width: 1;
  }

  text.label {
    fill: $dark-gray;
    font-size: 1.1rem;
  }
}

// nested charts
figure figure {
  // margin-left: 2rem;

  h4 {
    display: none;
  }

  .bar-chart {
    margin: .5rem 0;

    .bin {
      margin-bottom: .5rem;
    }
  }
}

*[data-block] {
  opacity: 1;
  // transition opacity over a fraction of a second, with a delay
  // (the delay guards against flashes when content switches really quickly
  // from loading -> loaded -> loading again, e.g. when data loads quickly)
  @include transition(opacity .3s ease-in .5s);

  &.loading {
    opacity: .8;
  }
}
