html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: #F7F7F7; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 14px 0px #CCC;
  background: #FFF;
  border-radius: 6px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container #usa_dot_gov_header {
    border-bottom: 1px solid #ccc; }
  .container .chart_area {
    background: #ccc;
    height: 200px;
    padding: 1em;
    color: #888;
    font-size: 0.8em; }

section, header {
  padding: 1em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  section:last-child, header:last-child {
    margin-right: 0; }
