@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #222;
  background: #f9f9f9;
  margin: 0; }
  @media screen and (max-width: 992px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; } }

a, a:visited {
  color: #36435A; }

#usa_dot_gov_header a, #usa_dot_gov_header a:visited {
  color: #fff; }

h2 {
  font-size: 4em; }

h3 {
  font-size: 1.2em;
  margin: 1em 0; }

h4 {
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 400; }

h5 {
  font-size: 0.8em;
  font-weight: 400; }

header {
  background: #36435A;
  color: white; }
  header .header_container {
    max-width: 97.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em; }
    header .header_container::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 1600px) {
      header .header_container {
        max-width: 1600px; } }
    @media screen and (max-width: 1200px) {
      header .header_container {
        max-width: 1200px; } }
    @media screen and (max-width: 992px) {
      header .header_container {
        max-width: 992px; } }
    @media screen and (max-width: 768px) {
      header .header_container {
        max-width: 768px; } }
  header #color_bar {
    background: #3A96B7;
    height: 6px; }
  header h1 {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    font-weight: 600; }
    header h1:last-child {
      margin-right: 0; }
    header h1 a {
      font-weight: 300;
      color: white;
      text-decoration: none; }
    header h1 a:hover {
      text-decoration: underline; }
    @media screen and (max-width: 768px) {
      header h1 {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        header h1:last-child {
          margin-right: 0; } }
  header #about {
    font-size: 1em;
    font-weight: 300;
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    padding-top: 2em;
    text-align: right;
    text-decoration: none;
    border: none; }
    header #about:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      header #about {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%;
        text-align: left;
        padding-top: 0;
        padding-bottom: 10px; }
        header #about:last-child {
          margin-right: 0; } }
  header #about:hover {
    text-decoration: underline; }

section {
  background: #fff;
  padding: 1em; }
  section h2 {
    font-size: 8em;
    margin: 0; }
    @media screen and (max-width: 768px) {
      section h2 {
        font-size: 6em; } }
  section h3 {
    margin: 10px 0; }

#realtime {
  color: #36435A; }
  @media screen and (max-width: 768px) {
    #realtime {
      font-size: 12px; } }

.container {
  max-width: 97.5em;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  background: #fff; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 1600px) {
    .container {
      max-width: 1600px; } }
  @media screen and (max-width: 1200px) {
    .container {
      max-width: 1200px; } }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 992px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 768px; } }

#main_data {
  border-right: 1px solid #e4e4e4;
  float: left;
  display: block;
  margin-right: 0%;
  width: 64.28571%; }
  #main_data:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #main_data {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      border-right: none; }
      #main_data:last-child {
        margin-right: 0; } }

.visits_today h3 {
  display: block;
  height: 2.5rem;
  margin-bottom: 0; }
.visits_today h4 {
  display: block;
  text-align: right;
  margin-top: -2.5rem;
  font-size: 1.0em;
  color: #222; }

#secondary_data {
  float: left;
  display: block;
  margin-right: 0%;
  width: 35.71429%; }
  #secondary_data:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #secondary_data {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      border-top: 1px solid #e4e4e4;
      border-left: none;
      border-right: none; }
      #secondary_data:last-child {
        margin-right: 0; } }
  #secondary_data h3 {
    margin-bottom: 0; }
  #secondary_data h5 {
    margin-top: 0; }

#explanation, #data_download, #agencies {
  border-top: 1px solid #e4e4e4;
  font-size: 90%;
  line-height: 1.6em; }
  #explanation li, #data_download li, #agencies li {
    margin: 1em 0; }

#explanation, #agencies {
  float: left;
  display: block;
  margin-right: 0%;
  width: 64.28571%; }
  #explanation:last-child, #agencies:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #explanation, #agencies {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      #explanation:last-child, #agencies:last-child {
        margin-right: 0; } }

#data_download {
  float: left;
  display: block;
  margin-right: 0%;
  width: 35.71429%; }
  #data_download:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    #data_download {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      #data_download:last-child {
        margin-right: 0; } }

.section_headline {
  padding: 0.1em 1em;
  border-top: 1px solid #e4e4e4; }
  @media screen and (max-width: 768px) {
    .section_headline {
      border-bottom: none; } }

.section_subheadline {
  padding: 0.5em 1em;
  border-top: 1px solid #e4e4e4;
  text-align: center;
  font-size: 1.5em; }
  .section_subheadline #total_visitors {
    font-weight: 600; }

.three_column {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .three_column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .three_column {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%;
      border-left: none;
      border-top: 1px solid #e4e4e4; }
      .three_column:last-child {
        margin-right: 0; } }
  .three_column h4 {
    text-align: center;
    margin: 0;
    font-size: 90%; }
  .three_column h5 {
    margin-top: 0;
    text-align: center; }

#realtime {
  text-align: center;
  padding-top: 0em;
  padding-bottom: 2em; }
  #realtime .chart_subtitle {
    font-size: 2.1em;
    font-weight: 300; }

#coming_soon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #36435A;
  color: white;
  vertical-align: middle;
  padding: 10em; }
  #coming_soon a {
    color: white; }
  #coming_soon h1 {
    font-size: 4em; }
  #coming_soon h1, #coming_soon h2 {
    text-align: center;
    font-weight: 300; }
  #coming_soon h2 {
    font-size: 2em;
    margin: 2em auto; }
  @media screen and (max-width: 768px) {
    #coming_soon {
      font-size: 12px;
      padding: 2em; } }

#chart_windows .bar-chart .bin,
#chart_ie .bar-chart .bin {
  margin-left: 2em;
  margin-bottom: 0rem; }
  #chart_windows .bar-chart .bin .bar,
  #chart_ie .bar-chart .bin .bar {
    display: none; }

#time_series {
  padding: 0 1em; }

#time_series svg {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  max-height: 300px; }

#current_visitors {
  font-weight: 600;
  text-align: center; }

#top_100_table h3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 40%; }
  #top_100_table h3:last-child {
    margin-right: 0; }
#top_100_table h5 {
  color: #222;
  font-weight: 300; }

.top-pages .bar-chart {
  margin-top: 0; }

figure {
  margin: 0; }

ul.pills {
  float: left;
  display: block;
  margin-right: 0%;
  width: 60%;
  display: inline-block;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4; }
  ul.pills::after {
    clear: both;
    content: "";
    display: table; }
  ul.pills:last-child {
    margin-right: 0; }
  ul.pills li {
    width: 33.3333%; }
  ul.pills, ul.pills > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block; }
  ul.pills {
    margin: .60rem 0; }
  ul.pills > li {
    float: left; }
    ul.pills > li > a {
      color: #36435A;
      background: #fff;
      width: 100%;
      text-align: center;
      font-weight: 300;
      font-size: 0.8em;
      display: inline-block;
      padding: .32em 0em;
      text-decoration: none;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4; }
      ul.pills > li > a:hover {
        text-decoration: underline; }
      ul.pills > li > a[aria-selected='true'] {
        color: #fff;
        background: #3A96B7; }
    ul.pills > li:last-child > a {
      border-right: none; }

.bar-chart {
  margin: 1rem 0;
  position: relative;
  font-size: 90%; }
  .bar-chart .bar-chart {
    font-size: 80%; }
  .bar-chart .bin {
    position: relative;
    overflow: hidden;
    margin: 0 0 1rem 0; }
    .bar-chart .bin::after {
      clear: both;
      content: "";
      display: table; }
    .bar-chart .bin .bar:after {
      content: " ";
      display: block;
      position: absolute;
      background: #f9f9f9;
      top: 0;
      left: 100%;
      width: 1000px;
      height: 100%;
      z-index: 1; }
  .bar-chart .bar {
    height: .5rem;
    background: #3A96B7;
    position: relative;
    z-index: 2;
    min-width: 1px;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    transition: width 0.5s linear; }
  .bar-chart .label {
    white-space: nowrap;
    height: 1.5rem;
    margin-right: 4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .bar-chart .label a {
      text-decoration: none; }
    .bar-chart .label a:hover {
      text-decoration: underline; }
  .bar-chart .value {
    text-align: right;
    height: 1rem;
    white-space: nowrap;
    margin-top: -1.5rem;
    margin-bottom: .45rem; }

g.axis path,
g.axis line {
  fill: none;
  stroke: none; }
g.axis .tick text {
  fill: #222;
  font-size: .75rem; }

.time-series rect {
  fill: #3A96B7;
  stroke: #fff;
  stroke-width: 1; }
.time-series text.label {
  fill: #222;
  font-size: .6rem; }

figure figure h4 {
  display: none; }
figure figure .bar-chart {
  margin: .5rem 0; }
  figure figure .bar-chart .bin {
    margin-bottom: .5rem; }

*[data-block] {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.5s;
  -moz-transition: opacity 0.3s ease-in 0.5s;
  transition: opacity 0.3s ease-in 0.5s; }
  *[data-block].loading {
    opacity: .8; }

/*# sourceMappingURL=public_analytics.css.map */
