@use "uswds-core" as *;

/*
* Defines styles for each barchart
* TODO: Further refactoring into one component will require updates to javascript code
*/

.bar-chart {
  margin: units(4) 0;
  position: relative;

  .bar-chart {
    font-size: 80%;

    .bin {
      margin-left: units(4);
      margin-bottom: 0;

      .bar {
        display: none;
      }
    }
  }

  .bin {
    position: relative;
    @include clearfix;
    overflow: hidden;
    margin: 0 0 units(2) 0;
    font-size: 1.25rem;

    .bar:after {
      content: " ";
      display: block;
      position: absolute;
      background: #f9f9f9;
      top: 0;
      left: 100%;
      width: 1000px;
      height: 100%;
      z-index: 1;
    }
  }

  .bar {
    height: units(1.5);
    background: color("blue-50v");
    position: relative;
    z-index: 2;
    min-width: 1px;
    transition: width 0.5s linear;
  }

  .label {
    white-space: nowrap;
    height: 2.2rem;
    margin-right: units(8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: color("gray-cool-70");
    text-transform: capitalize;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .value {
    text-align: right;
    // height: 1.75rem;
    height: 1.25rem;
    white-space: nowrap;
    margin-top: -2.2rem;
    margin-bottom: 0.45rem;
  }

  &__top-pages {
    .bar-chart {
      margin-top: 0;
    }
    .label {
      text-transform: lowercase;
    }
  
    &-realtime {
      .label {
        text-transform: capitalize;
      }
    }
  }

  &__top-downloads {
    padding: 0 units(3);

    h4 {
      font-weight: font-weight("light");
    }

    .bar-chart {
      margin-top: 0;
    }

    .label {
      line-height: 1.6;

      .name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .domain {
        color: color("gray-cool-70");
        text-transform: lowercase;
      }

      .filename {
        text-transform: lowercase;
      }
    }

    .bar {
      margin-top: units(2); 
    }
  }
}

.top-downloads {

  .label {
    height: units(8);
  }
}

#chart_us_and_territories,
#chart_countries {

  .label {
    font-size: 90%;
  }
}