@use "uswds-core" as *;

/*
* Wrapper component around .barchart to handle header styles
* TODO: Further refactoring into one component will require updates to javascript code
*/

.bar-chart-component {
  h4 {
    text-align: center;
    margin: 0;
    font-size: 18px;
  }

  h5 {
    margin-top: 0;
    text-align: center;
  }
}