@use "uswds-core" as *;

// COLORS
$red: color("red-70v");
$orange: color("orange-30v");
$light-blue: color("blue-50v");
$light-blue-two: color("blue-50");
$dark-blue: color("blue-80v");
$light-gray: color("gray-2");
$uswds-light-gray: color("gray-cool-30");
$medium-gray: color("gray-cool-40");
$gray: color("gray-10");
$dark-gray: color("gray-cool-70");
$white: color("gray-1");
$black: color("gray-90");

.bg-dark-blue {
  background: $dark-blue;
}

.bg-light-blue {
  background: $light-blue;
}

.black {
  color: $black;
}

.dark-grey {
  color: $dark-gray;
}

.white {
  color: $white;
}
