$white: #fff;

// US Web Design Standard colors
$usa-gray-dark: #323a45;
$usa-gray: #5b616b;

$usa-gray-light: #aeb0b5;
$usa-gray-lighter: #d6d7d9;
$usa-gray-lightest: #f1f1f1;

$usa-primary-darkest: #112e51;

$usa-gold: #fdb81e;
$usa-gold-light: #f9c642;
$usa-gold-lighter: #fad980;

$usa-green: #2e8540;
$usa-green-light: #4aa564;
$usa-green-lighter: #94bfa2;

$usa-cool-blue: #205493;
$usa-cool-blue-light: #4773aa;
$usa-cool-blue-lighter: #8ba6ca;

$usa-primary: #02bfe7;
$usa-primary-alt-darkest: #046b99;
$usa-primary-alt-dark: #00a6d2;
$usa-primary-alt-light: #9bdaf1;
$usa-primary-alt-lightest: #e1f3f8;

$usa-secondary: #e31c3d;
$usa-secondary-darkest: #981b1e;
$usa-secondary-dark: #cd2026;
$usa-secondary-light: #e59393;
$usa-secondary-lightest: #f9dede;

// colors aliases
$red: $usa-secondary;
$blue: $usa-primary;
$light_gray: $usa-gray-light;

// used only for borders
$gray: #e4e4e4;

$dark_gray: $usa-gray-dark;
$light_blue: $usa-primary-alt-light;
$medium_blue: $usa-primary-alt-dark;
$dark_blue: $usa-primary-darkest;

$background_color: $light_gray;
$container_background: $white;

$data: $medium_blue;
