@use "uswds-core" as *;

/* 
  Footer
  Styles the footer above the identifier
*/

footer {
  border-top: units("1px") solid color("gray-10");
  padding: units(3) 0;
  background-color: color("gray-4");

  @include at-media("desktop") {
    padding: units(6) 0;
  }

  h3 {
    margin-top: 0;
  }

  .logo-links {
    margin-bottom: 0rem;
    margin-right: 2rem;
    float: left;
  }

  img {
    width: 3.2rem;
  }

  img.github-icon {
    width: 1.4rem !important;
    vertical-align: text-bottom !important;
  }

  p {
    font-size: 1.15rem;
    line-height: 0.75;
    margin-top: units(2) 0;

    &:first-of-type {
    }

    @include at-media("desktop") {
      font-size: 1.3rem;
    }
  }

  a {
    display: inline-block;
    line-height: 0;

    &:hover {
      color: color("blue-50");
    }
  }

  a.usa-button {
    background-color: color("blue-50");
    &:hover {
      background-color: color("blue-60");
    }
  }
}