@use "uswds-core" as *;

/* 
  Footer
  Styles the footer above the identifier
*/

footer {
  background-color: color("gray-4");
  border-top: units("1px") solid color("gray-10");
  padding: units(3) 0;

  @include at-media("desktop") {
    padding: units(6) 0;
  }

  h3 {
    margin-top: 0;
  }

  .logo-links {
    float: left;
    margin-bottom: 0rem;
    margin-right: 2rem;
  }

  img {
    width: 3.2rem;
  }

  img.github-icon {
    vertical-align: text-bottom !important;
    width: 1.4rem !important;
  }

  p {
    font-size: 1.15rem;
    line-height: 0.75;
    margin-top: units(2) 0;

    @include at-media("desktop") {
      font-size: 1.3rem;
    }
  }

  a {
    display: inline-block;
    line-height: 1;

    &:hover {
      color: color("blue-50");
    }
  }

  a.usa-button {
    background-color: color("blue-50");
    &:hover {
      background-color: color("blue-60");
    }
  }
}

footer {
  clear: both;

  h3 {
    margin-top: 0;
  }

  .logo-links {
    margin-bottom: 0rem;
    margin-right: 2rem;
    float: left;
  }
}

.footer-main-img {
  display: none;
  max-width: 18.1rem;

  @include at-media("desktop") {
    display: block;
  }
}

.footer-content {
  p {
    max-width: 75ch;
  }
}

.footer-contact-links {
  margin-top: 3rem;

  a {
    color: color("gray-1");
    text-decoration: underline;
  }

  img {
    width: 4rem;
  }
}

.footer-section-top {
  background-color: color("gray-2");
}

.footer-section-bottom {
  background-color: color("gray-2");

  p {
    color: color("gray-1");
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 0.75;

    &:first-of-type {

      @include at-media("tablet") {
        margin-bottom: 0;
      }
    }
  }

  a {
    color: color("gray-1");
    display: inline-block;
    line-height: 0;
  }
}