@use "uswds-core" as *;

/* 
  Footer
  Styles the footer above the identifier
*/

footer {
  #explanation {
    font-size: units(2.5);

    h3 {
      font-size: units(2.5);
    }

    a {
      &:hover {
        color: color("blue-60");
      }
    }
  }

  .github-section {
    background-color: color("gray-4");
    border-top: units("1px") solid color("gray-10");
    padding: units(3) 0;

    @include at-media("desktop") {
      padding: units(6) 0;
    }

    &__body {
      h3 {
        margin-top: 0;
      }

      .logo-links {
        float: left;
        margin-bottom: 0rem;
        margin-right: 2rem;
      }

      img {
        width: 3.2rem;
      }

      img.github-icon {
        vertical-align: text-bottom !important;
        width: 1.4rem !important;
      }

      p {
        font-size: 1.15rem;
        line-height: 0.75;
        margin-top: units(2) 0;

        @include at-media("desktop") {
          font-size: 1.3rem;
        }
      }

      a {
        display: inline-block;
        line-height: 1;

        &:hover {
          color: color("blue-50");
        }
      }

      a.usa-button {
        background-color: color("blue-50");
        &:hover {
          background-color: color("blue-60");
        }
      }
    }
  }
}
