@use "uswds-core" as *;

/*
  Top navigation header

  header
    h1
    nav
      about
      data
      api
    form
*/

.analytics-header {
  align-items: center;
  background: color("blue-80v");
  border-bottom: units(1) solid color("blue-50v");
  color: color("gray-1");
  justify-content: center;
  padding: units(3);

  @include at-media("mobile-lg") {
    justify-content: flex-start;
  }

  img.analytics {
    // filter equivalent of "blue-50"
    filter: invert(39%) sepia(97%) saturate(458%) hue-rotate(167deg)
      brightness(88%) contrast(95%);
    height: units(4);
    margin-bottom: units(0.5);
    padding-right: units(1);

    @include at-media("tablet-lg") {
      height: units(7);
      margin-bottom: units(1);
    }
  }

  h1 {
    font-size: size("sans", "lg");
    margin: 0;

    @include at-media("tablet-lg") {
      font-size: size("sans", "2xl");
      line-height: units(10);
      margin: 0 units(3) 0 0;
    }

    strong {
      font-weight: font-weight(700);
    }
  }

  a {
    color: color("gray-1");
    font-weight: font-weight(300);
    text-decoration: none;

    &:hover {
      color: color("gray-1");
      text-decoration: underline;
    }

    &:visited {
      color: color("gray-1");
    }
  }

  nav.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: units(1);
    order: 3;

    @include at-media("mobile-lg") {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 3;
      justify-content: flex-end;
    }

    ul {
      display: contents;
      list-style: none;

      li {
        @include at-media("mobile-lg") {
          display: block;
          padding: 0;

          &:nth-child(odd) a::after {
            content: "";
            padding: 0;
          }
        }
      }

      span.link-bullet {
        font-size: units(3);
        padding: 0 units(1);
      }

      a {
        font-size: units(2.5);

        @include at-media("mobile-lg") {
          font-size: units(3);
        }
      }
    }
  }
}

.sm-hide {
  display: none;

  @include at-media("desktop-lg") {
    display: inline;
  }
}
