@use "uswds-core" as *;

/* 
  Top navigation header

  header
    h1
    nav
      about
      data
      api
    form
*/

.analytics-header {
  align-items: center;
  background: color("blue-80v");
  border-bottom: units(1) solid color("blue-50v");
  color: color("gray-1");
  padding: units(3);

  h1 {
    font-size: size('sans', 'lg');
    margin: 0;

    @include at-media("tablet-lg") {
      margin: 0 units(3) 0 0;
      line-height: units(10);
      font-size: size('sans', '2xl');
    }

    strong {
      font-weight: font-weight(700);
    }
  }

  a {
    color: color("gray-1");
    font-weight: font-weight(300);
    text-decoration: none;

    &:hover {
      color: color("gray-1");
      text-decoration: underline;
    }

    &:visited {
      color: color("gray-1");
    }
  }




  .analytics-select {
    width: 100%;
    order: 4;
    @include at-media("desktop") {
      width: 50%;
      order: 2;
    }

    // hide label needed for accessibility
    label {
      left: -999em;
      position: absolute;
    }

    // style the input drop down
    .usa-form {
      max-width: 100%;
    }

    #analytics-agency-select {
      color: color("blue-80v");
      font-size: size('sans', 'sm');
      font-weight: font-weight(600);
      height: auto;
      max-width: none; // USWDS override
      vertical-align: middle;
      width: 100%;
    
      background-color: color("blue-50");
      background-image: url("../css/img/arrow-down.png");
      background-image: url("../css/img/arrow-down.svg");
      border: units(1px) solid color("gray-1");
      color: color("gray-1");
    
      @include at-media("tablet-lg") {
        font-size: size('sans', 'lg');
      }
    }
  }


  nav.links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 3;
    font-size: size('sans', 'md');
    list-style: none;
    margin-bottom: 0;
    order: 3;
    justify-content: flex-end;

    @include at-media("desktop") {
      flex-direction: column;
    }

    li {
      @include at-media("mobile-lg") {
        display: block;
        font-size: size('sans', 'lg');
        padding: 0;
        &:nth-child(odd) a::after {
          content: "";
          padding: 0;
        }
      }
    }

    span.link-bullet {
      padding: 0 units(1);

      &--hide {
        display: inline;

        @include at-media("desktop") {
          display: none;
        }
      }
    }

    a {
      font-size: size('sans', 'xs');

      @include at-media("mobile-lg") {
        font-size: size('sans', 'lg');
      }
    }
  }
}

.sm-hide {
  display: none;

  @include at-media("tablet-lg") {
    display: inline;
  }
}