@use "uswds-core" as *;

.analytics-select {
  order: 4;
  width: 100%;

  @include at-media("desktop-lg") {
    order: 2;
    width: 40%;
  }

  @include at-media("widescreen") {
    width: 50%;
  }

  &--main {
    color: color("gray-1");

    select {
      background-color: color("blue-50");
      border: units(1px) solid color("gray-1");
      color: color("gray-1");
    }
  }

  &--secondary {
    color: color("gray-cool-70");

    select.usa-select {
      background-image: url("../css/img/arrow-down-black.svg");
      border: units(1px) solid color("blue-80v");
    }
  }

  // hide label needed for accessibility
  label {
    left: -999em;
    position: absolute;
  }

  // style the input drop down
  .usa-form {
    max-width: 100%;
  }

  select {
    background-image: url("../css/img/arrow-down-white.svg");
    font-size: size("sans", "sm");
    font-weight: font-weight(600);
    height: auto;
    max-width: none; // USWDS override
    vertical-align: middle;
    width: 100%;

    @include at-media("tablet-lg") {
      font-size: size("sans", "lg");
    }
  }
}

form {
  max-width: none;
}
