@use "uswds-core" as *;

.usa-button-group--segmented {
  width: 100%;

  // make the buttons stretch to fill the parent container
  .usa-button-group__item {
    flex-grow: 1;
    width: 33.3333%;

    // targets the last <button> in the group
    &:last-child > .usa-button {
      margin-left: -2px;
      width: 100%;
    }
  }

  // fill full width of parent
  .usa-button {
    width: 100%;
  }
}