/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

// COLORS
$red: color("red-70v");
$light-blue: color("blue-50v");
$light-blue-two: color("blue-50");
$dark-blue: color("blue-80v");
$light-gray: color("gray-2");
$uswds-light-gray: color("gray-cool-30");
$gray: color("gray-10");
$dark-gray: color("gray-cool-70");
$white: color("gray-1");

// @include u-font("sans", "md");
// '3xs'	13px
// '2xs'	14px
// 'xs'	15px
// 'sm'	16px
// 'md'	17px
// 'lg'	22px
// 'xl'	32px
// '2xl'	40px
// '3xl'	48px

// @include u-text('light')
// 100
// 200
// 300
// 400
// 500
// 600
// 700
// 800
// 900

// card        160px
// card-lg     240px
// mobile      320px
// mobile-lg   480px
// tablet      640px
// tablet-lg   880px
// desktop     1024px
// desktop-lg  1200px
// widescreen  1400px

// @include at-media("tablet-lg")

// include via custom theme settings

h1,
h2,
h3,
h4,
h5 {
  font-family: family('sans');
}


//override draft web design standards for header hack


// Other Setup:
body {
  background: #FFF;
  color: color("gray-cool-70");
  font-family: font-family('ui');
  font-weight: font-weight(300);
  margin: 0;
}

a,
a:visited {
  color: color("blue-80v");
}

.technical-difficulties {
  background: color("gray-1");
  color: color("red-70v");
  padding-top: units(2.5);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul li:after,
ul li:before {
  content: "";
  display: none;
  padding-right: 0;
}

/* 
  404 Styles
*/


.container-padding {
  padding-left: units(2);
  padding-right: units(2);

  @include at-media("tablet") {
    padding-left: units(4);
    padding-right: units(4);
  }
}

.dark-background {
  background: color("blue-80v");

  &,
  a {
    color: color("gray-1");
  }
}

.text-center {
  text-align: center;
}

// footer & identifier
#explanation {
  font-size: units(2.5);

  h3 {
    font-size: units(2.5);
  }

  a {
    &:hover {
      color: color("blue-60");
    }
  }
}

footer {
  background-color: color("gray-4");
  border-top: units("1px") solid color("gray-10");
  padding: units(3) 0;

  @include at-media("desktop") {
    padding: units(6) 0;
  }

  h3 {
    margin-top: 0;
  }

  .logo-links {
    float: left;
    margin-bottom: 0rem;
    margin-right: 2rem;
  }

  img {
    width: 3.2rem;
  }

  img.github-icon {
    vertical-align: text-bottom !important;
    width: 1.4rem !important;
  }

  p {
    font-size: 1.15rem;
    line-height: 0.75;
    margin-top: units(2) 0;

    @include at-media("desktop") {
      font-size: 1.3rem;
    }
  }

  a {
    display: inline-block;
    line-height: 0;

    &:hover {
      color: color("blue-50");
    }
  }

  a.usa-button {
    background-color: color("blue-50");
    &:hover {
      background-color: color("blue-60");
    }
  }
}

.time-series {
  text-transform: uppercase;
}

.barchart {
  h4 {
    text-align: center;
    margin: 0;
    font-size: 90%;
  }

  h5 {
    margin-top: 0;
    text-align: center;
  }
}

.chart-realtime {
  color: color("blue-80v");
  text-align: center;

  &__current_visitors {
    font-size: 6em;
    margin: 0;
    @include at_media("tablet") {
      font-size: 8em;
    }
  }
  
  &__description {
    font-size: 1rem;
    @include at_media("tablet") {
      font-size: 2em;
    }
  }
}

g.axis {
  path,
  line {
    fill: none;
    stroke: none;
  }

  .tick text {
    fill: color("blue-80v");
    font-size: units(1.5);
  }
}

.time-series {
  rect {
    fill: color("blue-50v");
    stroke: color("gray-1");
    stroke-width: 1;
  }

  text.label {
    fill: color("blue-80v");
    // font-size: units(1.5); or 1
    font-size: .45rem;
  }
}