@use "uswds-core" as *;

.usa-site-alert .usa-site-alert--info .usa-alert .usa-alert__body {
  background-color: color("yellow-5");
}

.usa-identifier__required-links-item a {
  text-underline-offset: 2px;
}


.usa-table.usa-table--borderless {
  thead {
    background-color: color("gray-10");
  }
  thead th {
    font-size: size("sans", "md");
  }
  td {
    font-size: size("sans", "md");
    padding: units(2);
    .usa-label-big {
      display: inline-block;
      font-size: size("sans", "md");
    }
  }

  .usa-button:first-child {

    @include at-media-max('tablet') {
      margin-bottom: units(1);
    }
  }
}
