/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

// Replace styles from css/public_analytics.scss here!

// COLORS
$red: color("red-70v");
$light-blue: color("blue-50v");
$light-blue-two: color("blue-50");
$dark-blue: color("blue-80v");
$light-gray: color("gray-2");
$uswds-light-gray: color("gray-cool-30");
$gray: color("gray-10");
$dark-gray: color("gray-cool-70");
$white: color("gray-1");

// FONTS
$bold-weight: 600;
$font-light: 300;
$font-sans: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial",
  sans-serif;
$lead-font-size: rem(20px);
$title-font-size: rem(59px);
$h1-font-size: rem(44px);
$h2-font-size: rem(34px);
$h3-font-size: rem(24px);
$h4-font-size: rem(19px);
$h5-font-size: rem(16px);

// @include u-font("sans", "md");
// '3xs'	13px
// '2xs'	14px
// 'xs'	15px
// 'sm'	16px
// 'md'	17px
// 'lg'	22px
// 'xl'	32px
// '2xl'	40px
// '3xl'	48px

// @include u-text('light')
// 100
// 200
// 300
// 400
// 500
// 600
// 700
// 800
// 900

// card        160px
// card-lg     240px
// mobile      320px
// mobile-lg   480px
// tablet      640px
// tablet-lg   880px
// desktop     1024px
// desktop-lg  1200px
// widescreen  1400px

// @include at-media("tablet-lg")

// include via custom theme settings

h1,
h2,
h3,
h4,
h5 {
  font-family: family('sans');
}


//override draft web design standards for header hack
form {
  max-width: none;
}

// TODO: replace with uswds styles and remove from public_analytics for testing

// Other Setup:
body {
  background: #FFF;
  color: color("gray-cool-70");
  font-family: font-family('ui');
  font-weight: font-weight(300);
  margin: 0;
}

a,
a:visited {
  color: color("blue-80v");
}

.technical-difficulties {
  background: color("gray-1");
  color: color("red-70v");
  padding-top: units(2.5);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

ul li:after,
ul li:before {
  content: "";
  display: none;
  padding-right: 0;
}

// TODO: replace 13 instances
// @include media($small-screen) {
//   .sm-hide {
//     display: none !important;
//   }
// }



/* 
  404 Styles
*/


.container-padding {
  padding-left: units(2);
  padding-right: units(2);

  @include at-media("tablet") {
    padding-left: units(4);
    padding-right: units(4);
  }
}

.dark-background {
  background: color("blue-80v");

  &,
  a {
    color: color("gray-1");
  }
}

.text-center {
  text-align: center;
}

// footer & identifier
#explanation {
  font-size: units(2.5);

  h3 {
    font-size: units(2.5);
  }

  a {
    &:hover {
      color: color("blue-60");
    }
  }
}
