@import "bourbon/bourbon";

//Grid Settings:
$grid-columns: 14;
$max-width: em(1560);
$gutter: 0em !global;

@import "neat/neat";


@mixin responsive_container {
  @include outer-container;

  @include media($xlarge-screen) {
    max-width: 1560px;
  }
  @include media($large-screen)  {
    max-width: 1170px;
  }
  @include media($medium-screen) {
    max-width:  970px;
  }
  @include media($small-screen)  {
    max-width:  750px;
  }
}

$xlarge-screen:  new-breakpoint(max-width  1600px  14);
$large-screen:  new-breakpoint(max-width 1200px 14);
$medium-screen: new-breakpoint(max-width  992px 14);
$small-screen:  new-breakpoint(max-width  768px  1);

// Fonts & Colors:
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

$red: #921B1E;
$blue: #022945;
$light_gray: #f9f9f9;
$gray: #ccc;
$light_blue: #3A96B7;
$dark_blue: #36435A;
$white: #fff;
$background_color: $light_gray;
$container_background: $white;

$bold_weight: 600;

$data: $light_blue;

// Other Setup:
$border_radius: 5px;

body {
  font-family: "Open Sans", Helvetica, arial, sans-serif;
  font-size: 16px;
  $em-size: 16px;
  font-weight: 300;
  background: $background_color;
  margin: 0;
  @include media($medium-screen) {
    font-size: 14px;
  }
  @include media($small-screen) {
    font-size: 14px;
  }
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0;
}

h4 {
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 400;
}

h5 {
  font-size: 0.8em;
  font-weight: 400;
}

header {
  background: $dark_blue;
  color: white;

  .header_container {
    @include responsive_container;
    padding: 0 1em;
  }

  #color_bar {
    background: $light_blue;
    height: 6px;
  }

  h1 {
    @include span-columns(7);
    font-weight: $bold_weight;
    a {
      font-weight: 300;
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    @include media($small-screen)  {
      @include span-columns(1);
    }
  }

  #datetime {
    font-size: 1em;
    font-weight: 300;
    @include span-columns(7);
    padding-top: 2em;
    text-align: right;
    border: none;
    @include media($small-screen)  {
      @include span-columns(1);
      text-align: left;
      padding-top: 0;
    }
  }
}

section {
  background: $white;
  padding: 1em;
  h2 {
    font-size: 8em;
    margin: 0;
  }
  h3 {
    margin: 10px 0;
  }
}

.container {
  @include responsive_container;
}

#main_data {
  @include span-columns(9);
  @include media($small-screen)  {
    @include span-columns(1);
  }
}

#secondary_data {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  @include span-columns(5);
  @include media($small-screen)  {
    @include span-columns(1);
    border-top: 1px solid $gray;
    border-left: none;
    border-right: none;
  }

  h3 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 0;
  }
}

.section_headline {
  padding: 0.1em 1em;
  border-left: 1px solid $gray;
  border-top: 1px solid $gray;
  @include media($small-screen)  {
    border-bottom: none;
  }
}

.section_subheadline {
  padding: 0.5em 1em;
  border-top: 1px solid $gray;
  // border-bottom: 1px solid $gray;
  // border-left: 1px solid $gray;
  text-align: center;
  font-size: 1.5em;
  #total_visitors {
    font-weight: $bold_weight;
  }
}

.three_column {
  @include span-columns(3 of 9);
  // border-left: 1px solid $gray;

  @include media($small-screen)  {
    @include span-columns(1);
    border-left: none;
    border-top: 1px solid $gray;
  }
  h4 {
    text-align: center;
    margin: 0;
    font-size: 90%;
  }
  h5 {
    margin-top: 0;
    text-align: center;
  }
}

#time_series {
  border-left: 1px solid $gray;
  text-align: center;
  .chart_subtitle {
    font-size: 3em;
    font-weight: 300;
  }
}

#time_series, .section_subheadline {
  color: $dark_blue;
}

#big_number {
  font-weight: $bold_weight;
  text-align: center;
}

table.data td.chart .bar {
}

figure {
  margin: 0;
}

ul.pills {
  @include clearfix;

  &, & > li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  & {
    margin: .5rem 0;
  }

  & > li {
    float: left;

    & > a {
      color: $dark_blue;
      background: $light_gray;
      font-weight: bold;
      display: inline-block;
      padding: .5em 1em;
      text-decoration: none;

      border-right: 1px solid #fff;

      &:hover {
        text-decoration: underline;
      }

      &[aria-selected='true'] {
        color: #fff;
        background: $dark_blue;
      }
    }

    &:first-child > a {
      @include border-left-radius($border_radius);
    }

    &:last-child > a {
      @include border-right-radius($border_radius);
      border-right: none;
    }
  }
}

.bar-chart {
  margin: 1rem 0;
  position: relative;
  font-size: 80%;

  .bin {
    position: relative;
    @include clearfix;
    margin: 0 0 1rem 0;

    &:after {
      content: " ";
      display: block;
      background: #f9f9f9;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .5rem;
      z-index: 1;
    }
  }

  .bar {
    height: .5rem;
    background: $data;
    position: relative;
    z-index: 2;
  }

  .label,
  .value {
  }

  .label {
    white-space: nowrap;
    height: 1.5rem;
    margin-right: 4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    text-align: right;
    height: 1rem;
    white-space: nowrap;
    margin-top: -1.5rem;
    margin-bottom: .25rem;
  }
}

table.data {
  border-collapse: collapse;
  margin: 1rem 0;

  th,
  td {
    text-align: left;
    padding: .25rem .5rem;
  }

  tbody tr:nth-child(odd) > td {
    background: #f9f9f9;
  }

  td.name,
  th.name,
  td.visits,
  th.visits {
    text-align: right;
  }

  th.visits {
    min-width: 4em;
  }

  td.chart {
    position: relative;
    min-width: 10rem;

    .bar {
      line-height: 1em;
      height: 1em;
      position: relative;
      background: $data;

      .value {
        font-size: 75%;
        position: absolute;
        left: 100%;
        margin-left: .25em;
      }
    }
  }
}

.explanation {
  @include span-columns(14);
  margin-top: 20px;
}

.stack {
  margin: 1rem 0 2rem;
  padding-bottom: 1rem;
  height: 2.5rem;
  position: relative;

  .bin {
    float: left;
    top: 1rem;
    position: relative;
            box-sizing: border-box;
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    border: 2px solid white;
    background-color: $data;

    &:first-child { border-left: none; }
    &:last-child { border-right: none; }

    .label {
      position: absolute;
      bottom: 100%;
    }

    .value {
      position: absolute;
      top: 100%;
    }

    &:last-child .label,
    &:last-child .value {
      right: 0;
    }
  }
}

