@import "bourbon/bourbon";
@import "neat/neat";

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);

// Colors:

$background_color: #f7f7f7;
$container_background: #fff;
$mockup: #eee;

$data: #f0f; // FIXME

body {
  font-family: "Source Sans Pro", Helvetica, arial, sans-serif;
  background: $background_color;
}

.container {
  @include outer-container;

  box-shadow: 0px 0px 14px 0px #CCC;
  background: $container_background;
  border-radius: 6px;

  #usa_dot_gov_header {
    border-bottom: 1px solid $mockup;
  }
}

section, header {
  padding: 1em;
  @include span-columns(12);
}

#big_number {
  color: $data;
}

table.data td.chart .bar {
  background: $data;
}

figure {
  margin: 0;
}
