@use "uswds-core" as *;

/*
  Footer
  Styles the footer above the identifier
*/

footer#analytics-footer {
  .github-section {
    background-color: color("gray-4");
    border-top: units("1px") solid color("gray-10");
    padding: units(3) 0;

    @include at-media("desktop") {
      padding: units(6) 0;
    }
  }
}
