@use "uswds-core" as *;
@use "colors";

/*
  Top navigation header

  header
    h1
      img
      a
    div
      select
    nav
      about
      definitions
      data
      api
*/

header#analytics-header {
  align-items: center;
  border-bottom: units(1) solid colors.$light-blue;
  flex-direction: column;
  justify-content: center;

  @include at-media("tablet") {
    flex-direction: row;
  }

  @include at-media("desktop-lg") {
    justify-content: flex-start;
  }

  h1 {
    font-size: size("sans", "lg");
    order: 1;

    @include at-media("tablet") {
      flex: 4;
    }

    @include at-media("tablet-lg") {
      font-size: size("sans", "2xl");
      line-height: units(10);
    }

    strong {
      font-weight: font-weight(700);
    }

    img.analytics {
      // filter equivalent of "blue-50"
      filter: invert(39%) sepia(97%) saturate(458%) hue-rotate(167deg)
        brightness(88%) contrast(95%);
      height: units(4);
      margin-bottom: - units(0.5);

      @include at-media("tablet-lg") {
        height: units(7);
        margin-bottom: - units(1);
      }
    }
  }

  a {
    color: colors.$white;
    font-weight: font-weight(300);
    text-decoration: none;

    &:hover {
      color: colors.$white;
      text-decoration: underline;
    }

    &:visited {
      color: colors.$white;
    }
  }

  .analytics-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 4;

    @include at-media("desktop-lg") {
      flex: 4;
      order: 2;
    }
  }

  nav.links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    order: 3;

    @include at-media("tablet") {
      flex: 4;
      justify-content: flex-end;
    }

    ul {
      display: contents;
      list-style: none;

      li {
        @include at-media("tablet") {
          display: block;
          padding: 0;

          &:nth-child(odd) a::after {
            content: "";
            padding: 0;
          }
        }
      }

      span.link-bullet {
        font-size: 1.25rem;
        padding: 0 units(1);

        @include at-media("tablet") {
          font-size: units(3);
        }
      }

      a {
        font-size: 1.25rem;

        @include at-media("tablet-lg") {
          font-size: units(3);
        }
      }
    }
  }
}

.sm-hide {
  display: none;

  @include at-media("desktop-lg") {
    display: inline;
  }
}
