@use "uswds-core" as *;

.analytics-definitions {
  color: color("gray-90");
  padding: 0 units(2) units(2) units(2);

  @include at-media("tablet") {
    padding: units(2) units(4) units(4) units(4);
  }

  &__header {
    margin: 0;
    padding: units(1);
  }

  &__table_of_contents {
    font-size: 1.25rem;
    font-weight: 350;
    //padding-bottom: units(3);
    margin-top: 0;

    @include at-media("mobile-lg") {
      font-size: units(3);
    }
  }

  .usa-accordion__heading.usa-accordion__primary-heading {
    .usa-accordion__button {
      background-color: color("blue-80v");
      color: color("white");

      &[aria-expanded="true"] {
        background-image: url("../css/img/remove-white.svg");
      }

      &[aria-expanded="false"] {
        background-image: url("../css/img/add-white.svg");
      }
    }
  }

  .usa-accordion.usa-accordion--multiselectable {
    margin-top: units(2);
  }

  #data-definitions-content {
    h3 {
      margin-bottom: units(1);
    }
  }

  #dimensions {
    h3 {
      margin-top: units(0.5);
    }
  }
}
