{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": 'automatic'
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx"
  ]
}
