{
  "extends": "airbnb-base",
  "globals": {
    "window": false,
    "document": false,
    "isNaN": false,
    "d3": false,
    "Q": false,
    "ga": false
  },
  "rules": {
    "no-param-reassign": "off",
    "prefer-rest-params": "warn",
    "no-console": "off",
    "no-shadow": "warn",
    "consistent-return": "warn",
    "no-unused-vars": "warn",
    "no-func-assign": "warn",
    "no-undef": "warn"
  }
}
