{
  "extends": "airbnb-base",
  "globals": {
    "window": false,
    "document": false,
    "isNaN": false,
    "d3": false,
    "Q": false
  },
  "rules": {
    "no-param-reassign": "off",
    "prefer-rest-params": "warn",
    "no-console": "off"
  }
}