{
  "extends": "airbnb-base",
  "globals": {
    "window": false,
    "document": false,
    "ga": false
  },
  "rules": {
    "no-param-reassign": "warn",
    "prefer-rest-params": "warn",
    "consistent-return": "warn",
    "no-unused-vars": "warn",
    "no-func-assign": "warn",
    "no-console": [
      "error",
      { "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-use-before-define": "warn",
    "func-names": "off"
  }
}
