.*.sw?
.env
.DS_Store
*.log
./*.json
./*.json~
./*.csv
.sass-cache
Guardfile
_site
./*.js
/*.gz
/*.map
/work
/dist
/node_modules
/assets
/css/*.css
/css/*.css.map
/check
.jekyll-cache
.nyc_output
coverage
