
# Don't exclude nginx.conf, needs to be copied into _site for
# cloud.gov to pick up on it.
exclude:
- ".gitignore"
- todo.txt
- Gemfile
- Gemfile.lock
- Makefile
- Staticfile
- README.md
- CONTRIBUTING.md
- LICENSE.md
- dap.md
- uxtesting.md
- ".sass-cache"
- requirements.txt
- system-security-plan.yml
- manifest.yml
- vendor
- .codeclimate.yml
- .eslinrc.yml
- bin/
- docs/

# defaults
defaults:
  -
    scope:
      path: ""
      type: agencies
    values:
      layout: default

collections:
  agencies:
    output: true
    permalink: /:path/
  data_pages:
    output: true
    permalink: /:path/data/

# Site title and description
title: "analytics.usa.gov | The US government's web traffic."
description: "Official data on web traffic to hundreds of US federal government websites. Published by the Digital Analytics Program."

# Site's own URL
url: https://analytics.usa.gov

# Default dropdown title, will not appear if there are no sub-pages
dropdown_title: All Participating Websites

# Default data url (also needs to be in nginx.conf for cloud.gov deployment)
data_url: https://analytics.usa.gov/data

# twitter information
twitter: usgsa

# Site wide error message
site_wide_error:
  display: true
  title: "Some pages may not be updated and may not be accurate"
  body: "Due to an extremely large recent increase in traffic, the Google Analytics account that powers this dashboard has been experiencing intermittent errors. As a result, the realtime reports may not be reflective of the most recent attempt to fetch the data. We are working to ensure future accuracy and consistency, and apologize for the issue."
sass:
  sass_dir: sass
  style: nested
