
# Don't exclude nginx.conf, needs to be copied into _site for
# cloud.gov to pick up on it.
exclude:
- ".gitignore"
- todo.txt
- Gemfile
- Gemfile.lock
- Makefile
- Staticfile
- README.md
- CONTRIBUTING.md
- LICENSE.md
- dap.md
- uxtesting.md
- ".sass-cache"
- requirements.txt
- system-security-plan.yml
- manifest.yml

# defaults
defaults:
  -
    scope:
      path: ""
      type: agencies
    values:
      layout: default

collections:
  agencies:
    output: true
    permalink: /:path/
  data_pages:
    output: true
    permalink: /:path/data/

# Site title and description
title: "analytics.usa.gov | The US government's web traffic."
description: "Official data on web traffic to hundreds of US federal government websites. Published by the Digital Analytics Program."

# Site's own URL
url: https://analytics.usa.gov

# Default dropdown title, will not appear if there are no sub-pages
dropdown_title: All Participating Websites

# Default data url (also needs to be in nginx.conf for cloud.gov deployment)
data_url: https://s3-us-gov-west-1.amazonaws.com/cg-ff27f612-cd16-4a76-94f8-628986af2158/data

# twitter information
twitter: usgsa

sass:
  sass_dir: sass
  style: nested
