<main class="analytics-about usa-prose padding-x-4 padding-y-2">
  <div class="margin-0 padding-1">
    <h1 class="analytics-about__header margin-0 padding-bottom-1">
      On this page
    </h1>
    <ul class="analytics-definitions__table-of-contents usa-list margin-top-0">
      <li><a href="#about-this-site">About this site</a></li>
      <li>
        <a href="#download-ga4-data">
          Download Google Analytics 4 (GA4) realtime and historical data
        </a>
      </li>
      <li>
        <a href="#download-ua-data">
          Download Universal Analytics (UA) historical data
        </a>
      </li>
    </ul>
  </div>
  <hr class="margin-y-2" />
  <div>
    <h2 id="about-this-site" class="margin-0">About this site</h2>
    <div class="padding-left-2 font-ui-md">
      <p>
        This website provides a window into how people are interacting with the
        government online. The data come from a unified Google Analytics account
        for U.S. federal government agencies known as the
        <a href="https://digital.gov/guides/dap/" className="external-link">
          Digital Analytics Program </a
        >. This program helps government agencies understand how people find,
        access, and use government services online. The program does not track
        individuals and anonymizes the IP addresses of visitors.
      </p>
      <p>
        Not every government website is represented in these data. Currently,
        the Digital Analytics Program collects web traffic from more than 500
        federal government second level domains, across approximately 7000 total
        hostnames, including every executive branch cabinet department. We
        continue to pursue and add more sites frequently; to add your site,
        <a href="mailto:dap@gsa.gov" className="external-link">
          email the Digital Analytics Program
        </a>
        .
      </p>
    </div>
  </div>
  <div>
    <h2 id="download-ga4-data" class="margin-0">
      Download Google Analytics 4 (GA4) realtime and historical data
    </h2>
    <div class="padding-left-2 font-ui-md">
      <p>
        You can <a href="/data">download the data here</a>. Available in JSON
        and CSV format. Additionally, you can access data via
        <a
          href="https://open.gsa.gov/api/dap/"
          target="_blank"
          rel="noopener noreferrer"
        >
          API
        </a>
        (currently in Beta).
      </p>
      <h3 class="margin-0">A note on sampling</h3>
      <p>
        Due to varying GA4 sampling thresholds, high data cardinality, and the
        volume of DAP data across its sub-properties, real-time and historical
        data reports are subject to sampling. These data are intended to
        represent high-level trends only and provide general insights into
        online visitor behavior.
      </p>
    </div>
  </div>
  <div>
    <h2 id="download-ua-data" class="margin-0">
      Download Universal Analytics (UA) historical data
    </h2>
    <div class="padding-left-2 font-ui-md">
      <p>
        You can <a href="/historical-data-download">download the data here</a>.
        Available in JSON and CSV format.
      </p>
      <p>
        These Universal Analytics historical reports represent only
        summary-level web traffic and user demographic data aggregated by month
        and calendar year between January 1, 2018 and June 24, 2024. The data is
        limited to DAP-participating, public-facing federal government websites
        at the time of the original data collection. The number of websites
        participating in DAP was increasing during those years, so the yearly
        analysis represents a different sample size of participating websites.
      </p>
      <h3 class="margin-0">A note on sampling</h3>
      <p>
        Due to varying Google Analytics API sampling thresholds, and the sheer
        volume of data in the Digital Analytics Program Universal Analytics
        property, reports are subject to sampling. The data are intended to
        represent trends and numbers may not be precise.
      </p>
    </div>
  </div>
</main>
