  {% if page.url == '/' %}
    {% assign data_prefix = 'live' %}
    {% assign entity = "government" %}
  {% else %}
    {% assign data_prefix = page.slug %}
    {% assign entity = "agency" %}
  {% endif %}
    <!--
      JavaScript block hooks look for any element with both data-block and
      data-source attributes:
      <section data-block="users" data-source="path/to/data.json">
        The "loading", "loaded", and "error" classes are set on this element
        the data-source URL is loaded. Then the renderer is called on the first
        child of the block with the "data" class:
        <div class="data">
        </div>
        Some renderers expect to be called on HTML tables, in which
        case you would use:
        <table class="data">
        </table>
      </section>
      -->
      <div id="main_data" class="" style="text-align:center">
        <h1>Analytics.usa.gov is undergoing maintenance, data will not be available</h1>
      </div>
