  {% if page.url == '/' %}
    {% assign data_prefix = 'live' %}
    {% assign entity = "government" %}
  {% else %}
    {% assign data_prefix = page.slug %}
    {% assign entity = "agency" %}
  {% endif %}
    <!--
      JavaScript block hooks look for any element with both data-block and
      data-source attributes:
      <section data-block="users" data-source="path/to/data.json">
        The "loading", "loaded", and "error" classes are set on this element
        the data-source URL is loaded. Then the renderer is called on the first
        child of the block with the "data" class:
        <div class="data">
        </div>
        Some renderers expect to be called on HTML tables, in which
        case you would use:
        <table class="data">
        </table>
      </section>
      -->
      <div id="main_data" class="width-two-thirds">
        <section id="realtime"
          data-block="realtime"
          data-source="{{ site.data_url }}/{{ data_prefix }}/realtime.json"
          data-refresh="15">
          <h2 id="current_visitors" class="data">...</h2>
          <div class="chart_subtitle">people on {{ entity }} websites now</div>
        </section>

        <section class="section_headline visits_today">
          <h3>Visits Today</h3>
          <h4>Eastern Time</h4>
        </section>
        <section id="time_series"
          data-block="today"
          data-source="{{ site.data_url }}/{{ data_prefix }}/today.json"
          data-refresh="15">
          <svg class="data time-series">
          </svg>
        </section>

        <section class="section_headline">
          <h3>Visits in the Past 90 Days</h3>
        </section>

        <section class="section_subheadline">
          There were <span id="total_visitors" class="data">...</span> visits over the past 90 days.
        </section>

        <section id="devices" class="three_column"
          data-block="devices"
          data-source="{{ site.data_url }}/{{ data_prefix }}/devices.json">
          <h4>Devices</h4>
          <figure id="chart_device_types">
            <div class="data bar-chart">
            </div>
          </figure>

          <p>
            Based on rough network segmentation data, we estimate that <strong>less than 5%</strong> of all traffic across all agencies comes from US federal government networks.
          </p>

          <p>
            Much more detailed data is available in <strong><a href="data/">downloadable CSV and JSON</a></strong>. This includes data on combined browser and OS usage.
          </p>
        </section>

        <section id="browsers" class="three_column">
          <h4>Browsers</h4>

          <figure id="chart_browsers"
            data-block="browsers"
            data-source="{{ site.data_url }}/{{ data_prefix }}/browsers.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_ie"
            data-block="ie"
            data-source="{{ site.data_url }}/{{ data_prefix }}/ie.json"
            data-scale-to-parent="true">
            <h4>Internet Explorer</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section id="operating_systems" class="three_column">
          <h4>Operating Systems</h4>

          <figure id="chart_os"
            data-block="os"
            data-source="{{ site.data_url }}/{{ data_prefix }}/os.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_windows"
            data-block="windows"
            data-source="{{ site.data_url }}/{{ data_prefix }}/windows.json"
            data-scale-to-parent="true">
            <h4>Windows</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <!-- forces section to wrap, couldn't find a better way -->
        <div style="clear: both"></div>

        <section class="section_headline">
          <h3>Visitor Locations Right Now</h3>
        </section>

        <section id="cities" class="three_column"
          data-block="cities"
          data-source="{{ site.data_url }}/{{ data_prefix }}/top-cities-realtime.json">
          <h4>Cities</h4>
          <figure id="chart_top-cities-90-days">
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

        <section id="countries" class="three_column">
          <h4>Countries</h4>

          <figure id="chart_us"
            data-block="countries"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-countries-realtime.json">
            <div class="data bar-chart">
            </div>
          </figure>

          <figure id="chart_countries"
            data-block="international_visits"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-countries-realtime.json">
            <h4>International</h4>
            <div class="data bar-chart">
            </div>
          </figure>
        </section>

      </div>

      <div id="secondary_data" class="width-one-third">
        <section id="top_100_table">

          <!-- see: http://heydonworks.com/practical_aria_examples/ -->
          <h3>Top <span id="top_table_type">Pages</span></h3>
          <ul class="pills" role="tablist">
            <li><a role="tab" data-type="Pages" aria-selected="true" href="#top-pages-realtime" class="site-nav">Now</a></li>
            <li><a role="tab" data-type="Domains" href="#top-pages-7-days" class="site-nav">7 Days</a></li>
            <li><a role="tab" data-type="Domains" href="#top-pages-30-days" class="site-nav">30 Days</a></li>
          </ul>

          <figure class="top-pages" id="top-pages-realtime" role="tabpanel"
            data-block="top-pages-realtime"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-pages-realtime.json"
            data-refresh="15">
            <h5><em>
              People on a <strong>single, specific page</strong> now. We only count pages with at least 10 people on the page.
              <a href="{{ site.data_url }}/{{ data_prefix }}/all-pages-realtime.csv">Download the full dataset.</a>
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-7-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-domains-7-days.json">
            <h5><em>Visits over the last week to <strong>domains</strong>, including traffic to all pages within that domain.</em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

          <figure class="top-pages" id="top-pages-30-days" role="tabpanel"
            data-block="top-pages"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-domains-30-days.json">
            <h5><em>
              Visits over the last month to <strong>domains</strong>, including traffic to all pages within that domain. {% if entity == "government" %}We only count pages with at least 1,000 visits in the last month.{% endif %}
              <a href="{{ site.data_url }}/{{ data_prefix }}/all-domains-30-days.csv">Download the full dataset.</a>
            </em></h5>
            <div class="data bar-chart">
            </div>
          </figure>

        </section>

        <section id="top_downloads_table">

          <h3>Top Downloads</h3>
          <h5><em>Total file downloads yesterday on {{ entity }} domains.</em></h5>
          <figure id="top-downloads"
            data-block="top-downloads"
            data-source="{{ site.data_url }}/{{ data_prefix }}/top-downloads-yesterday.json">
            <div class="data bar-chart">
            </div>
          </figure>

        </section>

