{% if page.url == '/' %} {% assign data_prefix = 'live' %} {% assign entity =
"government" %} {% else %} {% assign data_prefix = page.slug %} {% assign entity
= "agency" %} {% endif %}

<!--
      JavaScript block hooks look for any element with both data-block and
      data-source attributes:
      <section data-block="users" data-source="path/to/data.json">
        The "loading", "loaded", and "error" classes are set on this element
        the data-source URL is loaded. Then the renderer is called on the first
        child of the block with the "data" class:
        <div class="data">
        </div>
        Some renderers expect to be called on HTML tables, in which
        case you would use:
        <table class="data">
        </table>
      </section>
      -->

<main class="grid-row">
  <section id="main_data" class="desktop:grid-col-8">
    <article
      id="realtime-visitors-root"
      class="chart-realtime"
      dataURL="{{ site.data_url }}"
      dataPrefix="{{ data_prefix }}"
      agency="{{ page.title }}"
    ></article>
    <article
      id="locations-and-languages-root"
      class="section"
      dataURL="{{ site.data_url }}"
      dataPrefix="{{ data_prefix }}"
    ></article>
    <article class="section">
      <div class="section__headline">
        <h2>Historical Data and Trends</h2>
      </div>
    </article>
    <article class="section">
      <div class="section__headline">
        <h3>Daily Sessions in the Past 30 Days</h3>
      </div>
      <div
        id="sessions-30-days-root"
        dataURL="{{ site.data_url }}"
        dataPrefix="{{ data_prefix }}"
      ></div>
    </article>
    {% include charts/demographics-30-days.html data_prefix=data_prefix %}
  </section>

  <section id="secondary_data" class="desktop:grid-col-4">
    <section
      id="top-pages-root"
      dataURL="{{ site.data_url }}"
      dataPrefix="{{ data_prefix }}"
    ></section>
    {% include charts/top-downloads.html data_prefix=data_prefix %}
  </section>
</main>
