{% if page.url == '/data/' %} {% capture page_title %} - Data{% endcapture %} {%
assign data_prefix = 'live' %} {% assign entity = "government" %} {% else %} {%
capture page_title %} - {{ page.name }} - Data{% endcapture %} {% assign
data_prefix = page.slug %} {% assign entity = page.name %} {% endif %}

<main>
  <section class="analytics-data analytics-data">
    <div class="analytics-data__header desktop:grid-col-12">
      <h1>Download the data</h1>

      <p class="historical-data-link">
        <a href="/historical-data-download">
          <em
            >See options to download Universal Analytics legacy reports
            (2018-2024)</em
          >
        </a>
      </p>

      <!--
        Prettier tries to force double quotes here, which causes problems with
        the JSON passed to the agencies property, so ignore this div for linting
      -->
      <!-- prettier-ignore -->
      <div
        id="analytics-agency-select-root"
        class="analytics-select analytics-select--secondary"
        mainAgencyName="{{site.dropdown_title}}"
        agencies='{{ site.data.agencies | jsonify }}'
        pathSuffix="/data"
      ></div>

      <h4>A note on sampling</h4>
      <div class="desktop:grid-col-8">
        Due to varying GA4 sampling thresholds, high data cardinality, and the
        volume of DAP data across its sub-properties, real-time and historical
        data reports are subject to sampling. This data are intended to
        represent high-level trends only and provide general insights into
        online visitor behavior.
      </div>
    </div>

    <div
      id="data-downloads-root"
      dataURL="{{ site.data_url }}"
      dataPrefix="{{ data_prefix }}"
    ></div>
  </section>
</main>
