      <section id="explanation">

        <h3>About this Site</h3>
        <p>
          This data provides a window into how people are interacting with the government online. The data comes from a unified Google Analytics account for U.S. federal government agencies known as the <a href="https://www.digitalgov.gov/services/dap/" class="external-link">Digital Analytics Program</a>. This program helps government agencies understand how people find, access, and use government services online. The program <a href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/#part-4" class="external-link">does not track individuals</a>, and <a href="https://support.google.com/analytics/answer/2763052?hl=en" class="external-link">anonymizes the IP addresses</a> of visitors.
        </p>

        <p>
          Not every government website is represented in this data. Currently, the Digital Analytics Program collects web traffic from around <a href="https://analytics.usa.gov/data/live/second-level-domains.csv" class="external-link">400 executive branch government domains</a>, across <a href="https://analytics.usa.gov/data/sites.csv" class="external-link">over 4000 total websites</a>, including every cabinet department. We continue to pursue and add more sites frequently; to add your site, <a href="mailto:DAP@support.digitalgov.gov" class="external-link">email the Digital Analytics Program</a>.
        </p>


        <p>
          This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="https://github.com/GSA/analytics.usa.gov" class="external-link">code for this website</a> and the <a href="https://github.com/18F/analytics-reporter" class="external-link">code behind the data collection</a> on GitHub.
        </p>

        <p>
          We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="https://github.com/GSA/analytics.usa.gov/issues" class="external-link">open an issue on GitHub</a> or contact the <a href="mailto:DAP@support.digitalgov.gov" class="external-link">Digital Analytics Program</a>.
        </p>
      </section>

      <section id="data_download">

        <h3>Download the Data</h3>

          <h4>Updated daily (CSV)</h4>
          <ul>
            <li>
              <a href="{{ data_url }}/all-domains-30-days.csv" class="download-data">Visits to all domains over 30 days</a>
            </li>
            <li>
              <a href="{{ data_url }}/top-downloads-yesterday.csv" class="download-data">Top downloads yesterday</a>
            </li>
            <li>
              <a href="{{ data_url }}/devices.csv" class="download-data">Desktop/mobile/tablet</a>
            </li>
            <li>
              <a href="{{ data_url }}/browsers.csv" class="download-data">Web browsers</a>
            </li>
            <li>
              <a href="{{ data_url }}/ie.csv" class="download-data">Versions of Internet Explorer</a>
            </li>
            <li>
              <a href="{{ data_url }}/os.csv" class="download-data">Operating systems</a>
            </li>
            <li>
              <a href="{{ data_url }}/windows.csv" class="download-data">Versions of Windows</a>
            </li>
            <li>
              <a href="{{ data_url }}/screen-size.csv" class="download-data">Screen sizes</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/screen-size.json" class="download-data">Screen sizes</a> (JSON)
            </li>

            <li>
              <a href="{{ data_url }}/language.csv" class="download-data">Language</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/language.json" class="download-data">Language</a> (JSON)
            </li>

            <li>
              <a href="{{ data_url }}/device_model.csv" class="download-data">Device model</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/device_model.json" class="download-data">Device model</a> (JSON)
            </li>

            <li>
              <a href="{{ data_url }}/top-traffic-sources-30-days.csv" class="download-data">Top traffic sources (30 days)</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/top-traffic-sources-30-days.json" class="download-data">Top traffic sources (30 days)</a> (JSON)
            </li>

            <li>
              <a href="{{ data_url }}/top-exit-pages-30-days.csv" class="download-data">Top exit pages (30 days)</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/top-exit-pages-30-days.json" class="download-data">Top exit pages (30 days)</a> (JSON)
            </li>
          </ul>
          <h4>Updated every two minutes</h4>

          <ul>
            <li>
              <a href="{{ data_url }}/all-pages-realtime.csv" class="download-data">All pages people are visiting</a> (CSV)
            </li>
            <li>
              <a href="{{ data_url }}/top-countries-realtime.json" class="download-data">Visitors per country</a> (JSON)
            </li>
            <li>
              <a href="{{ data_url }}/top-cities-realtime.json" class="download-data">Visitors per city</a> (JSON)
            </li>
            <li>
              <a href="{{ data_url }}/realtime.json" class="download-data">Total people online</a> (JSON)
            </li>
          </ul>

        </section>
