<header
  id="analytics-header"
  class="grid-row white bg-palette-color-1 padding-3"
>
  <h1 class="margin-top-0 margin-x-0 margin-bottom-1">
    <img
      src="{{ site.baseurl }}/images/analytics.svg"
      class="analytics"
      alt="Analytics Icon"
    />
    <a href="/" class="external-link"> <strong>analytics</strong>.usa.gov </a>
  </h1>

  <div id="site-search-form">
    <form
      class="usa-search usa-search--small"
      role="search"
      action="https://www.google.com/search"
      method="get"
      target="_blank"
    >
      <label class="usa-sr-only" for="search-field-en-small">Search</label>
      <input
        class="usa-input"
        id="search-field-en-small"
        type="search"
        name="q"
        required="required"
        placeholder="Search"
      />
      <input name="sitesearch" type="hidden" value="analytics.usa.gov" />
      <button class="usa-button" type="submit">
        <img
          src="/assets/uswds/img/usa-icons-bg/search--white.svg"
          class="usa-search__submit-icon"
          alt="Search"
        />
      </button>
    </form>
  </div>

  <nav
    class="links margin-top-1 desktop:padding-left-3 margin-bottom-0 padding-bottom-1"
  >
    <div class="grid-row">
      <div class="grid-offset-2 grid-col-8">
        <div class="grid-row">
          <div class="grid-col-3 text-center">
            <a href="/about">About</a>
          </div>
          <div class="grid-col-1 text-right">
            <span class="link-bullet link-bullet--hide">&#8226;</span>
          </div>
          <div class="grid-col-5 text-center">
            <a href="/definitions">Definitions</a>
          </div>
          <div class="grid-col-1 text-left">
            <span class="link-bullet link-bullet--hide">&#8226;</span>
          </div>
          <div class="grid-col-2 text-center">
            <a
              href="https://open.gsa.gov/api/dap/"
              target="_blank"
              rel="noopener"
              >API</a
            >
          </div>
        </div>
      </div>
      <div
        class="desktop:grid-offset-1 card:grid-col-12 desktop-lg:grid-col-11 widescreen:grid-col-10"
      >
        <div class="grid-row">
          <div class="grid-col-5 text-right">
            <a href="{{ site.baseurl }}/visualizations">Visualize Data</a>
          </div>
          <div class="grid-col-2 text-center">
            <span class="link-bullet link-bullet--hide">&#8226;</span>
          </div>
          <div class="card:grid-col-5 text-left">
            <a href="{{ site.baseurl }}/data">Download Data</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
