<head>
  <!--

    Hi! Welcome to our source code.

    This dashboard uses data from the Digital Analytics Program, a US
    government team inside the General Services Administration.


    For a detailed tech breakdown of how 18F and friends built this site:

    https://18f.gsa.gov/2015/03/19/how-we-built-analytics-usa-gov/


    This is a fully open source project, and your contributions are welcome.

    Frontend static site: https://github.com/18F/analytics.usa.gov
    Backend data reporting: https://github.com/18F/analytics-reporter

    -->

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta
    name="google-site-verification"
    content="NjbZn6hQe7OwV-nTsa6nLmtrOUcSGPRyFjxm5zkmCcg"
  />

  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />

  <link
    rel="icon"
    type="image/x-icon"
    href="{{ site.baseurl }}/images/analytics-favicon.ico"
  />

  <meta name="twitter:site" content="@{{ site.twitter }}" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />
  <meta property="og:type" content="website" />

  <meta property="og:url" content="{{ site.url }}" />
  <link rel="canonical" href="{{ site.url }}" />

  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <meta name="description" content="{{ site.description }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ site.url }}/images/share-image.png" />

  <script
    async
    type="text/javascript"
    src="{{ site.baseurl}}/assets/uswds/js/uswds-init.min.js"
  ></script>
</head>
