<header class="site-header">
  <div class="site-header__inner">
    <h1 class="site-logo">
      <a href="/"> <strong>analytics</strong>.usa.gov </a>
    </h1>
    <ul class="site-nav links">
      <li>
        <a href="#explanation">About this site</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/data/">Data</a>
      </li>
      <li>
        <a href="https://open.gsa.gov/api/dap/" target="_blank" rel="noopener">
          API
        </a>
      </li>
    </ul>
    {% assign agencies = site.data.agencies | sort: "name" %}
    {% if agencies.size > 0 %}
      {% unless page.url contains 'data' %}
      <div class="site-agency-selector agency-selector-wrap">
        <form class="usa-form">
          <label class="usa-label" for="agency-selector">Select an agency</label>
          <select
            class="usa-select site-agency-selector__dropdown"
            name="agency-selector"
            id="agency-selector"
            title="Agency Selection Dropdown"
          >
          <option value="{{site.baseurl}}/">{{site.dropdown_title}}</option>
          {% for agency in agencies %}
          <option value="{{site.baseurl}}/{{agency.slug}}">
              {{agency.name}}
          </option>
          {% endfor %}
          </select>
        </form>
      </div>
      {% endunless %}
    {% endif %}
  </div>
</header>

{{/*

  .site-header
    .site-logo
      a

  ul.site-nav
    li
      a

  div.agency-selector-wrap
    form.usa-form
      label
      select

  header
    h1
    nav
      about
      data
      api
    form
*/}}
