<header class="analytics-header grid-row">
  <img src="{{ site.baseurl }}/images/analytics.svg" class="analytics" alt="Analytics Icon" />
  <h1>
    <a href="/" class="external-link"> <strong>analytics</strong>.usa.gov </a>
  </h1>

  {% assign agencies = site.data.agencies | sort: "name" %} {% if agencies.size > 0 %} {% unless page.url contains
  'data' %}
  <div class="analytics-select analytics-select--main">
    <label class="usa-label" for="analytics-agency-select">Select an agency to display results</label>
    <select aria-label="Select an agency to display results" class="usa-select" name="agency-selector"
      id="analytics-agency-select" title="Agency Selection Dropdown">
      <option value="{{ site.baseurl }}/">{{ site.dropdown_title }}</option>
      {% for agency in agencies %}
      <option value="{{ site.baseurl }}/{{ agency.slug }}">
        {{ agency.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  {% endunless %} {% endif %}

  <nav class="links">
    <ul>
      <li>
        <a href="#explanation">About</a>
        <span class="link-bullet link-bullet--hide">&#8226;</span>
      </li>
      <li>
        <a href="/definitions">Definitions</a>
        <span class="link-bullet link-bullet--hide">&#8226;</span>
      </li>
      <li>
        <a href="{{ site.baseurl }}/data/">Data</a>
        <span class="link-bullet">&#8226;</span>
        <a href="https://open.gsa.gov/api/dap/" target="_blank" rel="noopener">API</a>
      </li>
    </ul>
  </nav>
</header>
