@use "uswds-core" as *;

.analytics-select {
  &--main {
    color: color("gray-1");

    select {
      background-color: color("blue-50");
      border: units(1px) solid color("gray-1");
      color: color("gray-1");

      // This media size is where the header items become spaced out horizontally.
      @include at-media("tablet") {
        margin-bottom: units(3);
      }
    }
  }

  &--secondary {
    color: color("gray-cool-70");

    select.usa-select {
      background-image: url("../css/img/arrow-down-black.svg");
      border: units(1px) solid color("blue-80v");

      @include at-media("desktop-lg") {
        order: 2;
        width: 35%;
      }

      @include at-media("widescreen") {
        width: 45%;
      }
    }

    label.usa-label {
      text-align: left;
    }
  }

  label {
    margin-bottom: units(1);
    margin-top: units(1);
    max-width: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;

    @include at-media("mobile-lg") {
      margin-bottom: 0;
      margin-top: units(2);
    }

    // This media size is where the header items become spaced out horizontally.
    @include at-media("tablet") {
      margin-top: 0;
    }
  }

  // style the input drop down
  .usa-form {
    max-width: 100%;
  }

  select {
    background-image: url("../css/img/arrow-down-white.svg");
    font-size: size("sans", "sm");
    font-weight: font-weight(600);
    height: auto;
    max-width: none; // USWDS override
    vertical-align: middle;
    width: 100%;

    @include at-media("tablet-lg") {
      font-size: size("sans", "lg");
    }
  }
}

form {
  max-width: none;
}
