@use "uswds-core" as *;

/*
* top navigation bar
* - [x] remove neat/bourbon mixin
* - [ ] refactor into header component
* - [ ] update to responsive grid classes
*/

.site-header {
  background-color: color("primary-darker");
  border-bottom: units(1) solid color("primary");
  color: color("base-lightest");

  &__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: first baseline;
    min-height: px-to-rem(95px);
    padding: units(3);

    @include at-media("tablet-lg") {
      align-items: center;
    }
  }

  .usa-form {
    max-width: 100%;
  }

  a {
    color: color("gray-1");
    font-weight: font-weight(300);
    text-decoration: none;

    &:hover {
      color: color("gray-1");
      text-decoration: underline;
    }

    &:visited {
      color: color("gray-1");
    }
  }
}

.site-logo {
  font-size: size('sans', 'md');
  margin: 0;
  margin-bottom: units(4);

	@include at-media("tablet") {
		margin-bottom: 0;
	}

  strong {
    font-weight: font-weight(700);
  }
}

.site-nav {
  display: flex;
  column-gap: units(3);
  list-style: none;
  letter-spacing: 0.4px;
  margin-top: 0;
  margin-bottom: units(4);
  padding-left: 0;

  @include at-media("tablet") {
		margin-bottom: 0;
		order: 3;
	}

  @include at-media("tablet-lg") {
    column-gap: units(6);
  }
}

.site-header .agency-selector-wrap {

	@include at-media("tablet") {
    margin-left: auto;
    margin-right: auto;
		width: 35%;
	}

	@include at-media("tablet-lg") {
		width: 50%;
	}

	// Hide label needed for accessibility.
	label {
    left: -999em;
    position: absolute;
  }

	.usa-form {
		max-width: 100%;
	}
}


.site-header .site-agency-selector__dropdown {
	background-color: color("blue-50");
	background-image: url("../css/img/arrow-down.svg");
	border: 1px solid color("white");
	color: color("white");
	font-size: size("sans", "xs");
	height: auto;
	margin-top: 0;
	max-width: none; // USWDS override
	vertical-align: middle;
	width: 100%;
}
