@use "uswds-core" as *;
@use "colors";

/*
  * Section components (locations, 30-day-sessions, 90-day-sessions)
  */
.section--bordered {
  border-top: 1px solid colors.$medium-gray;

  @include at-media("tablet") {
    border-bottom: none;
  }
}

.section__headline {
  font-size: units(3);
  font-weight: font-weight("bold");
}

.section__headline--bold {
  font-weight: font-weight("bold");
}

.section__subheader {
  font-size: units(3);
}
