<article class="section">
  <section class="section__subheader">
    There were <span id="total_visitors" class="data">...</span> sessions in the
    last 30 days.
  </section>
</article>

<article class="section">
  <section class="section__rate grid-row">
    <!-- Average Enagement time per session -->
    <section id="average_engagement_time" class="desktop:grid-col-6"
      data-block="average_engagement_duration_per_session"
      data-source="{{ site.data_url }}/{{ data_prefix }}/engagement-duration-30-days.json">
      <div class="grid-row">
        <h4 class="grid-col-12">Average Engagement Time Per Session</h4>
      </div>
      <div class="grid-row">
        <span class="data grid-col-12"></span>
      </div>
    </section>

    <!-- Engagement Rate -->
    <section id="engagement_rate" class="desktop:grid-col-6" data-block="engagement_rate"
      data-source="{{ site.data_url }}/{{ data_prefix }}/engagement-rate-30-days.json">
      <div class="grid-row">
        <h4 class="grid-col-12">Percent of Engaged Sessions</h4>
      </div>
      <div class="grid-row">
        <span class="data grid-col-12"></span>
      </div>
    </section>
  </section>
</article>

<article class="section">
  <div class="section__headline">
    <h2>
      Top Traffic Sources in the Last 30 Days
    </h2>
  </div>

  <section class="section__chart grid-row">
    <!-- Session Medium -->
    <section id="session_channel_groups" class="desktop:grid-col-6 bar-chart-component"
      data-block="session_default_channel_group"
      data-source="{{ site.data_url }}/{{ data_prefix }}/top-session-channel-group-30-days.json">
      <h4>Top Channels</h4>
      <figure id="chart_session_channel_group">
        <div class="data bar-chart"></div>
      </figure>
    </section>

    <!-- Session Source -->
    <section id="session_source_mediums" class="desktop:grid-col-6 bar-chart-component"
      data-block="session_source_medium"
      data-source="{{ site.data_url }}/{{ data_prefix }}/top-session-source-medium-30-days.json">
      <h4>Top Sources/Media</h4>
      <figure id="chart_session_source_medium">
        <div class="data bar-chart"></div>
      </figure>
    </section>
  </section>
</article>

<article class="section">
  <div class="section__headline">
    <h2>
      User Device Demographics in the Last 30 Days
    </h2>
  </div>

  <section class="section__chart grid-row">
    <!-- Devices -->
    <section id="devices" class="desktop:grid-col-4 bar-chart-component" data-block="devices"
      data-source="{{ site.data_url }}/{{ data_prefix }}/devices.json">
      <h4>Devices</h4>
      <figure id="chart_device_types">
        <div class="data bar-chart"></div>
      </figure>
    </section>

    <!-- Browsers -->
    <section id="browsers" class="desktop:grid-col-4 bar-chart-component">
      <h4>Web Browsers</h4>
      <figure id="chart_browsers" data-block="browsers"
        data-source="{{ site.data_url }}/{{ data_prefix }}/browsers.json">
        <div class="data bar-chart"></div>
      </figure>
    </section>

    <!-- Operating systems -->
    <section id="operating_systems" class="desktop:grid-col-4 bar-chart-component">
      <h4>Operating Systems</h4>
      <figure id="chart_os" data-block="os" data-source="{{ site.data_url }}/{{ data_prefix }}/os.json">
        <div class="data bar-chart"></div>
      </figure>
      <figure id="chart_windows" class="hide" data-block="windows"
        data-source="{{ site.data_url }}/{{ data_prefix }}/windows.json" data-scale-to-parent="true">
        <h4>Windows</h4>
        <div class="data bar-chart"></div>
      </figure>
    </section>
  </section>
</article>
