<article class="section">
  <div class="section__headline">
    <h2>
      User Locations and Languages in the last 30 minutes
    </h2>
  </div>

  <div class="section__chart grid-row">
    <section id="cities" class="desktop:grid-col-4 padding-2 bar-chart-component" data-block="cities"
      data-source="{{ site.data_url }}/{{ data_prefix }}/top-cities-realtime.json">
      <h4>Cities</h4>
      <figure id="chart_top-cities-90-days">
        <div class="data bar-chart"></div>
      </figure>
    </section>

    <section id="countries" class="desktop:grid-col-4 padding-2 bar-chart-component">
      <h4>Countries</h4>

      <figure id="chart_us" data-block="countries"
        data-source="{{ site.data_url }}/{{ data_prefix }}/top-countries-realtime.json">
        <div class="data bar-chart"></div>
      </figure>

      <figure id="chart_us_and_territories" class="hide" data-block="us_and_territories"
        data-source="{{ site.data_url }}/{{ data_prefix }}/top-countries-realtime.json">
        <h4>United States &amp; Territories</h4>
        <div class="data bar-chart"></div>
      </figure>

      <figure id="chart_countries" class="hide" data-block="international_visits"
        data-source="{{ site.data_url }}/{{ data_prefix }}/top-countries-realtime.json">
        <h4>International</h4>
        <div class="data bar-chart"></div>
      </figure>
    </section>


    <section id="languages" class="desktop:grid-col-4 padding-2 bar-chart-component" data-block="languages"
      data-source="{{ site.data_url }}/{{ data_prefix }}/language.json">
      <h4>Languages</h4>
      <figure id="chart_top-languages">
        <div class="data bar-chart"></div>
      </figure>
    </section>
  </div>
</article>
