<article class="chart-realtime">
  <section class="chart-realtime__visitors-count" data-block="realtime"
    data-source="{{ site.data_url }}/{{ data_prefix }}/realtime.json" data-refresh="15">
    <div class="grid-row">
      <h2 class="chart-realtime__current-visitors data grid-col-12">...</h2>
    </div>
    <div class="grid-row">
      <div class="chart-realtime__description desktop:grid-col-8 desktop:grid-offset-2">
        people on U.S. federal government websites and apps in the last 30 minutes
      </div>
    </div>
  </section>
</article>
