<article class="chart-realtime">
  <section class="chart-realtime__visitors-count" data-block="realtime"
    data-source="{{ site.data_url }}/{{ data_prefix }}/realtime.json" data-refresh="15">
    <div class="grid-row">
      <div class="desktop:grid-col-2"></div>
      <h2 class="chart-realtime__current_visitors data desktop:grid-col-8">...</h2>
      <div class="desktop:grid-col-2"></div>
    </div>
    <div class="grid-row">
      <div class="desktop:grid-col-2"></div>
      <div class="chart-realtime__description desktop:grid-col-8">
        people on U.S. federal government websites and apps in the last 30 minutes
      </div>
      <div class="desktop:grid-col-2"></div>
    </div>
  </section>
</article>
