<section>
  <section class="section_headline">
    <h3>Sessions in the Past 30 Days</h3>
  </section>

  <section class="section_subheadline">
    There were <span id="total_visitors" class="data">...</span> sessions over the
    past 30 days.
  </section>

  <section class="grid-row">
    <!-- Devices -->
    <section
      id="devices"
      class="desktop:grid-col-4 padding-3 barchart"
      data-block="devices"
      data-source="{{ site.data_url }}/{{ data_prefix }}/devices.json"
    >
      <h4>Devices</h4>
      <figure id="chart_device_types">
        <div class="data bar-chart"></div>
      </figure>
      {{/*  TODO: create a styles for small text  */}}
      <p class="font-sans-xs">
        Based on rough network segmentation data, we estimate that
        all traffic across all agencies comes from US federal government networks.
      </p>
      <p class="font-sans-xs">
        Much more detailed data is available in
        <strong><a href="data/">downloadable CSV and JSON</a></strong
        >. This includes data on combined browser and OS usage.
      </p>
    </section>

    <!-- Browsers -->
    <section id="browsers" class="desktop:grid-col-4 padding-3 barchart">
      <h4>Web Browsers</h4>
      <figure
        id="chart_browsers"
        data-block="browsers"
        data-source="{{ site.data_url }}/{{ data_prefix }}/browsers.json"
      >
        <div class="data bar-chart"></div>
      </figure>
      {{/*  TODO: remove, not displayed as chart  */}}
      <figure
        id="chart_ie"
        class="hide"
        data-block="ie"
        data-source="{{ site.data_url }}/{{ data_prefix }}/ie.json"
        data-scale-to-parent="true"
      >
        <h4>Internet Explorer</h4>
        <div class="data bar-chart"></div>
      </figure>
    </section>

    <!-- Operating systems -->
    <section id="operating_systems" class="desktop:grid-col-4 padding-3 barchart">
      <h4>Operating Systems</h4>
      <figure
        id="chart_os"
        data-block="os"
        data-source="{{ site.data_url }}/{{ data_prefix }}/os.json"
      >
        <div class="data bar-chart"></div>
      </figure>
      <figure
        id="chart_windows"
        class="hide"
        data-block="windows"
        data-source="{{ site.data_url }}/{{ data_prefix }}/windows.json"
        data-scale-to-parent="true"
      >
        <h4>Windows</h4>
        <div class="data bar-chart"></div>
      </figure>
    </section>
  </section>
</section>
