<section class="top-pages">
  <!-- see: http://heydonworks.com/practical_aria_examples/ -->
  <div class="top-pages__headline">
    <h3>Top <span id="top_table_type">Web Pages and App Screens</span></h3>
  </div>
  <div class="usa-button-group usa-button-group--segmented" role="tablist">
    <div class="usa-button-group__item">
      <button
        role="tab"
        aria-selected="false"
        data-type="Web Pages and App Screens"
        data-tablink="#top-pages-realtime"
        class="usa-button">
        Now
      </button>
    </div>
    <div class="usa-button-group__item">
      <button
        role="tab"
        aria-selected="false"
        data-type="Hostnames"
        data-tablink="#top-pages-7-days"
        class="usa-button usa-button--outline"
        >
        7 Days
    </button>
    </div>
    <div class="usa-button-group__item">
      <button
        role="tab"
        aria-selected="false"
        data-type="Hostnames"
        data-tablink="#top-pages-30-days"
        class="usa-button usa-button--outline"
        >
        30 Days
      </button>
    </div>
  </div>

  <figure
    class="top-pages__realtime"
    id="top-pages-realtime"
    role="tabpanel"
    data-block="top-pages-realtime"
    data-source="{{ site.data_url }}/{{ data_prefix }}/top-pages-realtime.json"
    data-refresh="15"
  >
    <p>
      People on a <strong>single, specific page or app screen</strong> in
      the last 30 minutes. Hostnames are not currently reported in real-time, 
      so only page title and screen name information is available.
      <a href="{{ site.data_url }}/{{ data_prefix }}/all-pages-realtime.csv"
        >Download the full dataset.</a
      >
    </p>
    <div class="data bar-chart"></div>
  </figure>

  <figure
    class="bar-chart__top-pages"
    id="top-pages-7-days"
    role="tabpanel"
    data-block="top-pages"
    data-source="{{ site.data_url }}/{{ data_prefix }}/top-domains-7-days.json"
  >
    <p>
      Sessions over the last week on <strong>hostnames</strong>, including
      traffic to all web pages and app screens within that hostname.
    </p>
    <div class="data bar-chart"></div>
  </figure>

  <figure
    class="bar-chart__top-pages"
    id="top-pages-30-days"
    role="tabpanel"
    data-block="top-pages"
    data-source="{{ site.data_url }}/{{ data_prefix }}/top-domains-30-days.json"
  >
    <p>
      Sessions over the last month on <strong>hostnames</strong>, including
      traffic to all web pages and app screens within that hostname. {% if
      page.entity == "government" %}We only count pages and app screens with at
      least 1,000 sessions in the last month.{% endif %}
      <a
        href="{{ site.data_url }}/{{ data_prefix }}/all-domains-30-days.csv"
        >Download the full dataset.</a
      >
    </p>
    <div class="data bar-chart"></div>
  </figure>
</section>
