<!doctype html>
<html lang="en">
  <!-- Initalize title and data source variables -->
  {% if page.url == '/' or page.url == '/data/' %}
    {% assign page_title = '' %}
  {% else %}
    {% capture page_title %} - {{ page.name }}{% endcapture %}
  {% endif %}
  {% include head.html %}
  {% if page.url == '/' or page.url == '/data/' %}
    {% assign page_title = '' %}
  {% else %}
    {% capture page_title %} - {{ page.name }}{% endcapture %}
  {% endif %}
  {% include head.html %}

  <body>
    {% include gtm_iframe.html %}
    {% include header.html %}

    <div class="grid-row">{% include error.html %} {{ content }}</div>
    {% include footer.html %}
  </body>

  {% include footer_scripts.html %}
</html>
