@use "uswds-core" as *;
@use "colors";

.analytics-data {
  padding: 0;

  @include at-media("tablet") {
    padding: units(2);
  }
}

.analytics-data__table {
  margin-top: 0;
}

.analytics-data__table-caption {
  padding: units(2) units(2) units(2) units(2);

  @include at-media("tablet") {
    padding: units(2) 0 units(2) 0;
  }
}

.analytics-data__header {
  padding: units(2);

  @include at-media("tablet") {
    padding: 0;
  }

  div {
    font-size: units(2);
    font-weight: font-weight(300);
  }
}

a.analytics-data__historical-data-link {
  color: colors.$light-blue-two;
  font-weight: font-weight(600);
}
