@use "uswds-core" as *;
@use "colors";

figure {
  margin: 0;
}

// nested charts
figure figure {
  h4 {
    display: none;
  }

  .bar-chart {
    margin: units(1) 0;

    .bin {
      margin-bottom: units(1);
    }
  }
}

.data {
  opacity: 1;
  // transition opacity over a fraction of a second, with a delay
  // (the delay guards against flashes when content switches really quickly
  // from loading -> loaded -> loading again, e.g. when data loads quickly)
  transition: opacity 0.5s ease-in;

  &.loading {
    opacity: 0.8;
  }
}

.chart-realtime {
  color: colors.$dark-blue;
  padding: units(4);
  text-align: center;

  &__visitors-count {
    padding: 0;

    @include at-media("tablet") {
      padding: units(2);
    }
  }

  &__current-visitors {
    font-size: 4em;
    margin: 0;

    @include at_media("tablet") {
      font-size: 8em;
    }
  }

  &__description {
    font-size: units(3);

    @include at_media("tablet") {
      font-size: units(4);
    }
  }
}
