@use "uswds-core" as *;

/**
 * Styles for the main data section of the root page
 */

#main_data {
  @include at-media("tablet") {
    border-bottom: 1px solid color("gray-cool-40");
    border-right: none;
  }

  .locations-and-languages-section {
    min-height: 40rem;
  }

  .sessions-30-days-section {
    min-height: 10rem;
  }

  .traffic-sources-section {
    min-height: 40rem;
  }

  .device-demographics-section {
    min-height: 40rem;
  }
}
