@use "uswds-core" as *;
@use "colors";

/**
 * Styles for the main data section of the root page
 */

#main_data {
  @include at-media("tablet") {
    border-bottom: 1px solid color("gray-cool-40");
    border-right: none;
  }

  .locations-and-languages-section {
    min-height: 40rem;
  }

  .sessions-30-days-section {
    min-height: 10rem;
  }

  .traffic-sources-section {
    min-height: 40rem;
  }

  .device-demographics-section {
    min-height: 40rem;
  }

  .file-downloads-section {
    min-height: 40rem;

    #file-download-counts.section__rate {
      section {
        margin-bottom: units(4);
      }
    }
  }

  /**
   * Reusable section component styles (locations, 30-day-sessions, 90-day-sessions)
   */
  .section {
    border-top: 1px solid color("gray-cool-40");

    @include at-media("tablet") {
      border-bottom: none;
    }

    &__headline {
      border-bottom: 1px solid color("gray-cool-40");

      @include at-media("tablet") {
        border-bottom: none;
        padding-left: units(3);
        padding-top: 0;
      }

      h2,
      h3 {
        padding: 0 units(2);
      }
    }

    &__subheader {
      font-size: units(3);
      padding: units(2);
      text-align: center;

      #total_visitors {
        font-weight: font-weight("bold");
      }
    }

    &__rate {
      padding: 0;
      text-align: center;

      section {
        margin: units(2) 0;

        h4 {
          font-size: 1.25rem;
          margin: 0;
        }

        span {
          font-size: 1.25rem;
          padding-top: units(1);
        }
      }
    }

    &__chart {
      padding: 0;

      @include at-media("tablet") {
        padding: 0 units(2);
      }

      .bar-chart-component {
        padding: units(2);

        &:first-child {
          padding-top: units(2);

          @include at-media("tablet") {
            padding-top: units(1);
          }
        }

        @include at-media("tablet") {
          padding: units(1) units(3);
        }
      }
    }
  }

  .time-series {
    text-transform: uppercase;

    rect {
      fill: color("blue-50v");
      stroke: color("gray-1");
      stroke-width: 1;
    }

    text.label {
      fill: color("blue-80v");
      font-size: 0.45rem; // use for 30 day dd/mm styles
    }
  }

  #time_series {
    padding: units(4) 0;

    @include at-media("tablet") {
      padding: 0 units(2);
    }

    svg {
      display: block;
      height: auto;
      margin: 0;
      max-height: 300px;
      width: 100%;

      .axis[aria-hidden="true"] {
        display: block !important; // WDS override
      }
    }
  }
}
