.pie-chart-container {
  //height: 100%;
  //width: 100%;
  //display: block;
}

.pie-chart {
  //height: 100%;
  //width: 100%;
  //display: block;

  .chart {
    //display: block;
    //position: relative;
    //height: 100%;
    //width: 100%;
    //top: 50%;
    //left: 50%;
    //transform: scale(1) translate(50%, 50%);
  }

  .label-line {
    stroke-width: 1;
  }

  text.label-text {
    //alignment-baseline: middle;
    text-transform: capitalize;
    font-size: 1.75rem;
  }
}
