@use "uswds-core" as *;
@use "colors";

/**
 * Styles for the secondary sidebar data section of the root page
 */

#secondary_data {
  border-left: none;
  border-right: none;
  border-top: 1px solid colors.$uswds-light-gray;

  @include at-media("tablet") {
    border-bottom: 1px solid colors.$uswds-light-gray;
    border-left: 1px solid colors.$uswds-light-gray;
    border-top: none;
  }

  .sidebar {
    min-height: units("tablet-lg");
  }

  .sidebar__headline {
    padding: 0 units(2);

    @include at-media("tablet") {
      padding: 0 units(3);
    }
  }

  .sidebar__tab-select__button {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  // overrides some default uswds styles, see https://designsystem.digital.gov/components/button-group/#segmented-button-group-2
  .sidebar__tab-select__button-group {
    padding: 0 units(2);
    width: 100%;

    @include at-media("tablet") {
      padding: 0 units(3);
    }
  }

  .sidebar__tab-select__button-group__item {
    flex-grow: 1;
    width: 33.3333%;

    &[aria-selected="false"] {
      button {
        background-color: transparent;
        box-shadow: inset 0 0 0 2px colors.$dark-blue;
        color: colors.$dark-blue;
      }
    }
  }

  .sidebar__tab__content {
    border-bottom: 1px solid colors.$uswds-light-gray;
    // This prevents "jumping" in the sidebar when chart data is loading.
    // Assumes there are 30 items in the top pages charts. Will need adjusted
    // accordingly if the number of chart items changes.
    min-height: 60rem;
    padding: 0 units(2);

    @include at-media("tablet") {
      padding: 0 units(3);
    }

    .chart__bar-chart {
      margin-top: 0;
    }

    .chart__bar-chart__item__label {
      color: colors.$dark-gray;
      height: 2.2rem;
    }

    .chart__bar-chart__item__value {
      height: 1.25rem;
      margin-bottom: 0.45rem;
      margin-top: -2.2rem;
      text-align: right;
      white-space: nowrap;
    }
  }

  .top-downloads {
    border-bottom: 1px solid colors.$uswds-light-gray;
    padding: 0 units(2);

    @include at-media("tablet") {
      padding: 0 units(3);
    }

    &__headline {
      padding-top: 0;
    }

    h4 {
      font-weight: font-weight("light");
      margin: units(1) 0 units(1) 0;
    }

    &__bar-chart {
      padding: 0;

      .chart__bar-chart {
        margin-top: 0;
      }

      .chart__bar-chart__item__label {
        height: units(8);
        height: 4rem;
        line-height: 1.6;

        .top-download__page-name {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .top-download__page-domain {
          color: colors.$dark-gray;
          text-transform: lowercase;
        }

        .top-download__file-location {
          text-transform: lowercase;
        }
      }

      .chart__bar-chart__item__bar {
        margin-top: units(2);
      }
    }
  }

  .top-video-plays {
    // This prevents "jumping" in the sidebar when chart data is loading.
    // Assumes there are 30 items in the top pages charts. Will need adjusted
    // accordingly if the number of chart items changes.
    min-height: 10rem;
    padding: 0 units(2);

    @include at-media("tablet") {
      padding: 0 units(3);
    }

    &__headline {
      padding-top: 0;
    }

    h4 {
      font-weight: font-weight("light");
      margin: units(1) 0 units(1) 0;
    }

    .chart__bar-chart {
      margin-top: 0;
    }

    .chart__bar-chart__item__label {
      color: colors.$dark-gray;
      height: auto;
      line-height: normal;
    }

    .chart__bar-chart__item__value {
      height: auto;
      margin-top: -1.5rem;
      text-align: right;
      white-space: nowrap;
    }

    .chart__bar-chart__item {
      margin-top: units(1);
    }
  }
}
