@use "uswds-core" as *;
@use "colors";

/**
 * Styles for the secondary sidebar data section of the root page
 */

#secondary_data {
  .top-pages__bar-chart {
    // This prevents "jumping" in the sidebar when chart data is loading.
    // Assumes there are 30 items in the top pages charts. Will need adjusted
    // accordingly if the number of chart items changes.
    min-height: 1100px;
  }

  .top-downloads__bar-chart {
    // This prevents "jumping" in the sidebar when chart data is loading.
    // Assumes there are 30 items in the top pages charts. Will need adjusted
    // accordingly if the number of chart items changes.
    min-height: 850px;
  }

  .top-video-plays__bar-chart {
    // This prevents "jumping" in the sidebar when chart data is loading.
    // Assumes there are 30 items in the top pages charts. Will need adjusted
    // accordingly if the number of chart items changes.
    min-height: 580px;
  }
}
